Repository Azure/azure-container-networking, pull requests merged in 2020-07, with the labels that each got.

#583 Request controller for CNS
  Makefile
  cns/cnsclient/apiclient.go
  cns/cnsclient/httpapi/client.go
  cns/requestcontroller/example/main.go
  cns/requestcontroller/kubecontroller/apiclientinterface.go
  cns/requestcontroller/kubecontroller/crdreconciler.go
  cns/requestcontroller/kubecontroller/crdrequestcontroller.go
  cns/requestcontroller/kubecontroller/crdrequestcontroller_test.go
  cns/requestcontroller/kubecontroller/crdtranslator.go
  cns/requestcontroller/kubecontroller/eventfilter.go
  cns/requestcontroller/kubecontroller/signalhandler.go
  cns/requestcontroller/requestcontrollerintreface.go
Labels: CNS, work-in-progress

#590 Prometheus metrics
  npm/azure-npm.yaml
  npm/ipsm/ipsm.go
  npm/ipsm/ipsm_test.go
  npm/iptm/iptm.go
  npm/iptm/iptm_test.go
  npm/metrics/http.go
  npm/metrics/prometheus-metrics.go
  npm/metrics/promutil/test-util.go
  npm/metrics/timer.go
  npm/namespace_test.go
  npm/nwpolicy.go
  npm/nwpolicy_test.go
  npm/plugin/main.go
Labels: NPM, enhancement

#603 Request Controller reconcile CNS state on reboot
  cns/requestcontroller/kubecontroller/apiclientinterface.go
  cns/requestcontroller/kubecontroller/crdrequestcontroller.go
  cns/requestcontroller/kubecontroller/crdrequestcontroller_test.go
  cns/requestcontroller/kubecontroller/directapiclient.go
  cns/requestcontroller/kubecontroller/directcrdclient.go
  cns/requestcontroller/kubecontroller/kubeclientinterface.go
  cns/requestcontroller/requestcontrollerintreface.go
Labels: CNS

#608 Translate CRD <-> CNS
  cns/cnsclient/apiclient.go
  cns/cnsclient/httpapi/client.go
  cns/requestcontroller/example/main.go
  cns/requestcontroller/kubecontroller/crdreconciler.go
  cns/requestcontroller/kubecontroller/crdrequestcontroller.go
  cns/requestcontroller/kubecontroller/crdrequestcontroller_test.go
  cns/requestcontroller/kubecontroller/crdtranslator.go
  cns/requestcontroller/kubecontroller/crdtranslator_test.go
  cns/requestcontroller/requestcontrollerintreface.go
Labels: CNS
