Repository Azure/azure-container-networking, pull requests merged in 2021-08, with the labels that each got.

#959 chore: [NPM] Update scripts for cyclonous test
  .github/workflows/cyclonus-netpol-test.yaml
  test/cyclonus/install-cyclonus.yaml
Labels: NPM

#952 [NPM] Remove unused codes to save and restore ipset and iptables
  npm/ipsm/ipsm.go
  npm/ipsm/ipsm_test.go
  npm/iptm/iptm.go
  npm/iptm/iptm_test.go
  npm/nameSpaceController_test.go
  npm/networkPolicyController_test.go
  npm/npm.go
  npm/podController_test.go
Labels: NPM, bug

#907 [NPM] Dataplane Parser + Dataplane Converter + Traffic Analyzer
  .gitignore
  go.mod
  go.sum
  npm/debugTools/README.md
  npm/debugTools/dataplane/const.go
  npm/debugTools/dataplane/converter.go
  npm/debugTools/dataplane/converter_test.go
  npm/debugTools/dataplane/iptables/iptable.go
  npm/debugTools/dataplane/parse/parser.go
  npm/debugTools/dataplane/parse/parser_test.go
  npm/debugTools/dataplane/trafficAnalyzer.go
  npm/debugTools/dataplane/trafficAnalyzer_test.go
  npm/debugTools/pb/rule.pb.go
  npm/debugTools/pb/rule.proto
  npm/debugTools/testFiles/iptableSave
  npm/debugTools/testFiles/npmCache.json
  npm/testpolicies/complex-policy-diff-order.yaml
  npm/util/const.go
  vendor/github.com/rs/cors/.travis.yml
  vendor/github.com/rs/cors/LICENSE
  vendor/github.com/rs/cors/README.md
  vendor/github.com/rs/cors/cors.go
  vendor/github.com/rs/cors/go.mod
  vendor/github.com/rs/cors/go.sum
  vendor/github.com/rs/cors/utils.go
  vendor/google.golang.org/protobuf/encoding/protojson/decode.go
  vendor/google.golang.org/protobuf/encoding/protojson/doc.go
  vendor/google.golang.org/protobuf/encoding/protojson/encode.go
  vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  vendor/google.golang.org/protobuf/internal/encoding/json/decode.go
  vendor/google.golang.org/protobuf/internal/encoding/json/decode_number.go
  vendor/google.golang.org/protobuf/internal/encoding/json/decode_string.go
  vendor/google.golang.org/protobuf/internal/encoding/json/decode_token.go
  vendor/google.golang.org/protobuf/internal/encoding/json/encode.go
  vendor/modules.txt
Labels: NPM

#949 [NPM] Make each controller in npm independent
  npm/cache/npmCache.go
  npm/cache/npmCache_test.go
  npm/debugTools/dataplane/const.go
  npm/debugTools/dataplane/converter.go
  npm/debugTools/dataplane/converter_test.go
  npm/debugTools/dataplane/trafficAnalyzer.go
  npm/debugTools/dataplane/trafficAnalyzer_test.go
  npm/debugTools/testFiles/npmCacheWithCustomFormat.json
  npm/http/server/server.go
  npm/http/server/server_test.go
  npm/ipsm/ipsm.go
  npm/ipsm/ipsm_test.go
  npm/iptm/iptm.go
  npm/iptm/iptm_test.go
  npm/nameSpaceController.go
  npm/nameSpaceController_test.go
  npm/networkPolicyController.go
  npm/networkPolicyController_test.go
  npm/npm.go
  npm/npm_test.go
  npm/plugin/main.go
  npm/podController.go
  npm/podController_test.go
Labels: enhancement, NPM
