Repository Azure/azure-container-networking, pull requests merged in 2021-11, with the labels that each got.

#1055 [NPM] General translation logic for linux and windows
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/policies/chain-management_linux.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/testutils.go
  npm/testpolicies/testing/allow-all.yaml
  npm/testpolicies/testing/deny-all.yaml
  npm/testpolicies/testing/only-ports.yaml
  npm/util/const.go
Labels: NPM

#1072 FIX: upload higher resolution npm v2 chain design image
  docs/images/iptables v2 design.png
Labels: NPM

#1091 fix: [NPM] Fixing a bug in vendor files until we get an official build
  vendor/github.com/Microsoft/hcsshim/hcn/hcnpolicy.go
Labels: NPM

#1083 feat: [NPM] Support graceful shutdown in pod
  npm/pkg/controlplane/controllers/v1/podController.go
  npm/pkg/controlplane/controllers/v1/podController_test.go
  npm/util/util.go
  npm/util/util_test.go
Labels: enhancement, NPM

#1095 feat: [NPM] Support pod grace period for v2
  npm/pkg/controlplane/controllers/v1/podController.go
  npm/pkg/controlplane/controllers/v2/podController_test.go
  npm/pkg/controlplane/controllers/v2/podcontroller.go
  npm/util/util.go
  npm/util/util_test.go
Labels: enhancement, NPM

#1077 refactor: [NPM] parsing label selector for general translation logic
  npm/pkg/controlplane/translation/doc.go
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Labels: NPM

#1105 refactor: [NPM] General translation logic (mainly clean-up codes and correct bugs)
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/ipsets/ipset.go
Labels: NPM

#1106 refactor: [NPM] General translation logic for egress and ingress
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/policies/policy.go
Labels: NPM

#1085 feat: [NPM] ipset save before restoring and fixing grep UTs
  common/ioshim_linux.go
  npm/pkg/dataplane/ioutil/grep.go
  npm/pkg/dataplane/ioutil/grep_test.go
  npm/pkg/dataplane/ioutil/restore_linux.go
  npm/pkg/dataplane/ioutil/restore_linux_test.go
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux_test.go
  npm/pkg/dataplane/ipsets/testutils_linux.go
  npm/pkg/dataplane/policies/chain-management_linux.go
  npm/pkg/dataplane/policies/chain-management_linux_test.go
  npm/pkg/dataplane/policies/policymanager_linux.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/testutils/file-comparison.go
  test/integration/npm/main.go
  test/utils/utils.go
Labels: NPM

#1086 fix: [NPM] reposition iptables jump to AZURE-NPM chain
  npm/config/config.go
  npm/iptm/iptm.go
  npm/iptm/iptm_test.go
  npm/npm.go
  npm/npm_v1_test.go
  npm/pkg/controlplane/controllers/v1/controllers_v1_test.go
  npm/pkg/controlplane/controllers/v1/networkPolicyController.go
  npm/pkg/controlplane/controllers/v1/networkPolicyController_test.go
  npm/util/const.go
Labels: NPM

#1092 use goldpinger image which supports IPv6 and only pings ready pods
  test/integration/manifests/goldpinger/daemonset.yaml
  test/integration/manifests/goldpinger/deployment.yaml
Labels: enhancement

#1107 perf: [NPM] Use Equal function for label comparison instead of using reflect.DeepEqual in namespaceController
  npm/pkg/controlplane/controllers/v1/nameSpaceController.go
  npm/pkg/controlplane/controllers/v2/namespacecontroller.go
Labels: NPM

#1090 feat: [NPM] Clean up iptables chains in Linux v2
  npm/pkg/dataplane/policies/chain-management_linux.go
  npm/pkg/dataplane/policies/chain-management_linux_test.go
  npm/pkg/dataplane/policies/policy_linux.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/policies/testutils_linux.go
Labels: NPM

#1109 refacto: [NPM] Handle 0.0.0.0/0 ipblock and de-duplicated elements in except field
  npm/pkg/controlplane/controllers/v1/networkPolicyController.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane.go
Labels: NPM

#1113 refactor: [NPM] Minor fixes (does not change functionality, but for better maintenance)
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policy_windows.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux.go
Labels: NPM

#1108 feat: [NPM] Reset ipsets & update a Prometheus function ResetIPSetEntries (previously just used for UTs)
  npm/ipsm/ipsm.go
  npm/ipsm/ipsm_test.go
  npm/metrics/ipsets.go
  npm/metrics/ipsets_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux_test.go
  npm/pkg/dataplane/ipsets/testutils_linux.go
Labels: NPM

#1114 fix: [NPM] Testing Changes and updates to Linux Policy Manager
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_test.go
  npm/pkg/dataplane/ioutil/restore_linux.go
  npm/pkg/dataplane/policies/chain-management_linux.go
  npm/pkg/dataplane/policies/chain-management_linux_test.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_test.go
  npm/pkg/dataplane/policies/testutils.go
  npm/pkg/dataplane/policies/testutils_linux.go
  test/integration/npm/main.go
Labels: NPM

#1115 feat: [NPM] Update feature toggles and corresponding codes for enabling V2 NPM test
  npm/azure-npm.yaml
  npm/cmd/start.go
  npm/config/config.go
  npm/npm.go
Labels: NPM

#1100 fix: [NPM] adding fixes to windows DP after first run
  common/ioshim_windows.go
  network/hnswrapper/hnsv2wrapperfake.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows_test.go
  npm/pkg/dataplane/ipsets/testutils_windows.go
  npm/pkg/dataplane/policies/policy_windows.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/policies/policymanager_windows_test.go
  npm/pkg/dataplane/policies/testutils.go
  test/integration/npm/main.go
Labels: NPM

#1104 test: [NPM] Profiles
  .github/workflows/cyclonus-netpol-test.yaml
  npm/profiles/v1-default.yaml
  npm/profiles/v1-place-azure-chain-first.yaml
  npm/profiles/v2-default.yaml
Labels: NPM
