Repository Azure/azure-container-networking, pull requests merged in 2021-03, with the labels that each got.

#807 [CNI] Bypassing POSTROUTING table for Swift POD traffic
  cni/network/invoker_cns.go
Labels: CNI

#780 [NPM] Caching Pod information to compare against desired state
  npm/namespace.go
  npm/namespace_test.go
  npm/npm.go
  npm/nwpolicy.go
  npm/pod.go
  npm/pod_test.go
  npm/util/const.go
  npm/util/util.go
  npm/util/util_test.go
Labels: NPM, enhancement

#820 [NPM] Decoupling resource cache maps from NSmap
  .pipelines/npm/npm-conformance-tests.yaml
  npm/http/server/server_test.go
  npm/namespace.go
  npm/namespace_test.go
  npm/npm.go
  npm/nwpolicy.go
  npm/nwpolicy_test.go
  npm/pod.go
  npm/pod_test.go
  npm/util/const.go
  npm/util/util.go
Labels: NPM

#823 [NPM] Clearing NPM MARKs on packets before accepting them
  npm/iptm/helper.go
  npm/iptm/iptm.go
  npm/namespace.go
  npm/nwpolicy.go
  npm/pod.go
  npm/util/const.go
Labels: NPM

#826 [NPM] pushing Netpol cache update below errors
  npm/nwpolicy.go
Labels: NPM

#839 [NPM] NameSpace resource controller changes
  npm/nameSpaceController.go
  npm/nameSpaceController_test.go
  npm/namespace.go
  npm/namespace_test.go
  npm/npm.go
  npm/npm_test.go
  npm/nwpolicy_test.go
  npm/util/util.go
Labels: NPM

#836 [NPM] Support pod controller and unit test to improve reliability
  npm/ipsm/ipsm.go
  npm/npm.go
  npm/pod.go
  npm/podController.go
  npm/podController_test.go
  npm/pod_test.go
Labels: NPM, enhancement
