Repository Azure/azure-container-networking, pull requests merged in 2021-06, with the labels that each got.

#881 [NPM] RETURN early on MARK in DROP chains
  docs/images/npmIptableChainEval.png
  npm/iptm/helper.go
  npm/iptm/helper_test.go
  npm/iptm/iptm.go
  npm/translatePolicy.go
  npm/translatePolicy_test.go
Labels: NPM, bug

#902 fix: lint changes vs the default branch only
  .github/workflows/repo-hygiene.yaml
  Makefile
  README.md
Labels: enhancement

#890 feat: add flow to initialize CNS from CNI
  cni/api/api.go
  cni/client/client.go
  cni/client/client_unit_test.go
  cni/network/invoker_cns.go
  cni/network/multitenancy.go
  cni/network/network.go
  cni/network/network_test.go
  cns/NetworkContainerContract.go
  cns/NetworkContainerContract_test.go
  cns/api.go
  cns/cnireconciler/podinfoprovider.go
  cns/cnireconciler/podinfoprovider_test.go
  cns/cnireconciler/version.go
  cns/cnireconciler/version_test.go
  cns/cnsclient/apiclient.go
  cns/cnsclient/cli.go
  cns/cnsclient/cnsclient_test.go
  cns/cnsclient/httpapi/client.go
  cns/configuration/cns_config.json
  cns/configuration/configuration.go
  cns/multitenantcontroller/mockclients/cnsclient.go
  cns/networkcontainers/networkcontainers.go
  cns/networkcontainers/networkcontainers_linux.go
  cns/restserver/api_test.go
  cns/restserver/internalapi.go
  cns/restserver/internalapi_test.go
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
  cns/restserver/restserver.go
  cns/restserver/util.go
  cns/service/main.go
  cns/singletenantcontroller/kubecontroller/crdrequestcontroller.go
  cns/singletenantcontroller/kubecontroller/crdrequestcontroller_test.go
Labels: CNS, enhancement
