Repository Azure/azure-container-networking, pull requests merged in 2022-10, with the labels that each got.

#1647 Disabling dual stack e2e tests
  .pipelines/pipeline.yaml
Labels: ci

#1644 Add HostPort conformance test to swifte2e
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/aks-swift/e2e-step-template.yaml
Labels: ci

#1640 Proposal: Subnet Scarcity Phase 2 detailed design
  docs/feature/subnet-scarcity/phase-2/1-emptync.md
  docs/feature/subnet-scarcity/phase-2/2-idempotentscaling.md
  docs/feature/subnet-scarcity/phase-2/2-scalingmath.md
  docs/feature/subnet-scarcity/phase-3/1-watchpods.md
  docs/feature/subnet-scarcity/proposal.md
Labels: enhancement, cns, docs

#1650 Emit a metric in CNS for NC Sync count by status
  cns/restserver/internalapi.go
  cns/restserver/metrics.go
Labels: enhancement, cns, swift, fix

#1655 add scaler migration to subnet scarcity phase 2
  docs/feature/subnet-scarcity/phase-2/2-scalingmath.md
  docs/feature/subnet-scarcity/phase-2/3-subnetscaler.md
  docs/feature/subnet-scarcity/proposal.md
Labels: cns, docs

#1657 add retry attempts for cilium connectivity test
  .pipelines/singletenancy/aks-swift/e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
Labels: ci

#1660 [NPM][Windows] remove Windows22 preview flag and k8s version
  .pipelines/npm/npm-conformance-tests-latest-release.yaml
  .pipelines/npm/npm-conformance-tests.yaml
  .pipelines/npm/npm-cyc-win-tests-latest-release.yaml
Labels: npm, ci

#1659 Feature proposal: subnet scarcity phase 1
  docs/feature/subnet-scarcity/phase-1/2-exhaustion.md
  docs/feature/subnet-scarcity/phase-1/3-releaseips.md
  docs/feature/subnet-scarcity/phase-2/3-subnetscaler.md
  docs/feature/subnet-scarcity/phase-3/1-watchpods.md
  docs/feature/subnet-scarcity/proposal.md
Labels: cns, docs

#1665 add overlay-up target to hackfile
  hack/swift/Makefile
Labels: ci

#1653 Update the aks-e version for pipeline validation.
  .pipelines/singletenancy/aks-engine/e2e-step-template.yaml
  test/apimodels/cniLinux1804.json
  test/apimodels/cniWindows1903.json
  test/apimodels/cniWindows2004.json
  test/apimodels/cniWindows2022.json
Labels: npm, ci

#1554 run Windows UT's
  .pipelines/pipeline.yaml
  Makefile
  common/ioshim_windows.go
  network/hnswrapper/hnsv2wrapperfake.go
  npm/pkg/controlplane/controllers/v2/podController_test.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/debug/trafficanalyzer_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows_test.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/policies/policymanager_windows_test.go
  npm/pkg/dataplane/testutils/hnsutils_windows.go
Labels: npm, ci

#1664 add cilium cluster to hackfile
  hack/swift/Makefile
  hack/swift/README.md
Labels: enhancement, cns, ci

#1654 feat: include swift-overlay.conflist in the dropgz build
  dropgz/build/cni.Dockerfile
Labels: cni, overlay

#1667 fix: unblock channel for cni
  telemetry/telemetry.go
Labels: cni, fix

#1658 remove akse linux and pass ossku to cluster create
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/aks-swift/e2e-job-template.yaml
  .pipelines/singletenancy/aks-swift/e2e-step-template.yaml
  hack/swift/Makefile
Labels: ci

#1645 Proposal: Subnet Scarcity Phase 3 detailed design
  docs/feature/subnet-scarcity/phase-2/1-emptync.md
  docs/feature/subnet-scarcity/phase-3/1-watchpods.md
  docs/feature/subnet-scarcity/phase-3/2-nncbeta.md
  docs/feature/subnet-scarcity/proposal.md
Labels: enhancement, cns, docs

#1652 test: [WIN-NPM] dataplane test framework
  common/ioshim_windows.go
  network/hnswrapper/hnsv2wrapperfake.go
  npm/pkg/controlplane/controllers/v2/podController.go
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows_test.go
  npm/pkg/dataplane/ipsets/testutils_windows.go
  npm/pkg/dataplane/testutils/utils_windows.go
  npm/pkg/dataplane/types.go
  npm/pkg/dataplane/types_windows_test.go
Labels: npm, windows

#1681 test: [NPM] fail cyclonus if unfinished
  .pipelines/npm/npm-conformance-tests.yaml
  test/cyclonus/test-cyclonus-windows.sh
  test/cyclonus/test-cyclonus.sh
Labels: npm, ci
