Repository Azure/azure-container-networking, pull requests merged in 2022-07, with the labels that each got.

#1430 Remove azure-vnet-telemetry for windows multitenancy
  Makefile
  aitelemetry/api.go
  aitelemetry/telemetrywrapper.go
  cni/network/network.go
  cni/network/plugin/main.go
  cni/telemetry/service/telemetrymain.go
  cns/service/main.go
  common/config.go
  network/endpoint.go
  network/endpoint_windows.go
  network/manager.go
  telemetry/aiwrapper.go
  telemetry/telemetry.go
  telemetry/telemetrybuffer.go
Labels: cni, fix, telemetry

#1455 fix: [NPM-WIN] never use v1 on windows
  npm/cmd/start.go
Labels: npm

#1458 NPM: Delete log for public preview
  npm/pkg/dataplane/dataplane_windows.go
Labels: npm

#1432 Delegated Azure IPAM
  azure-ipam/const.go
  azure-ipam/go.mod
  azure-ipam/go.sum
  azure-ipam/internal/buildinfo/buildinfo.go
  azure-ipam/ipam.go
  azure-ipam/ipam_test.go
  azure-ipam/ipconfig/ipconfig.go
  azure-ipam/logger/logger.go
  azure-ipam/main.go
Labels: work-in-progress, cns, cni, swift

#1462 chore: [NPM-WIN] update yaml
  npm/azure-npm.yaml
  npm/examples/windows/azure-npm.yaml
Labels: npm

#1335 Add dropgz module for CNI installer
  .github/dependabot.yaml
  .pipelines/pipeline.yaml
  Makefile
  dropgz/build/cni.Dockerfile
  dropgz/cmd/payload.go
  dropgz/cmd/root.go
  dropgz/cmd/version.go
  dropgz/go.mod
  dropgz/go.sum
  dropgz/internal/buildinfo/buildinfo.go
  dropgz/main.go
  dropgz/pkg/embed/fs/_README
  dropgz/pkg/embed/fs/sum.txt
  dropgz/pkg/embed/payload.go
  dropgz/pkg/hash/sha.go
  test/integration/manifests/cni/manager.yaml
  tools/acncli/Dockerfile
Labels: enhancement, cni, ci

#1469 add byo swift cluster to hack makefile
  hack/swift/Makefile
Labels: swift, ci

#1473 fix: temp bypass of broken win2022 e2e
  .pipelines/pipeline.yaml
Labels: fix, ci

#1477 Cilium Integration fixes
  azure-ipam/logger/logger.go
  azure-ipam/main.go
Labels: cni

#1468 fix latency metrics that should be recorded in Seconds
  cns/restserver/internalapi.go
  cns/restserver/ipam.go
  cns/restserver/metrics.go
Labels: cns, fix, telemetry

#1483 add cilium and azure-ipam to dropgz image
  azure-ipam/azilium.conflist
  dropgz/build/cni.Dockerfile
Labels: cni, swift

#1484 Program IPTables SNAT rules in CNS
  cns/NetworkContainerContract.go
  cns/configuration/configuration.go
  cns/restserver/api_test.go
  cns/restserver/internalapi.go
  cns/restserver/restserver.go
  cns/restserver/util.go
  cns/service/main.go
  cns/singletenantcontroller/conversion.go
  cns/types/codes.go
  common/config.go
Labels: cns, cni, swift

#1446 log full pool state on change and every 30s
  cns/ipampool/monitor.go
Labels: cns, fix

#1467 add test to purge pendingRelease IPs in ipampoolmonitor
  cns/ipampool/monitor_test.go
Labels: cns, fix, ci

#1487 Build out ClusterSubnetStatus client/api
  build/tools/go.mod
  build/tools/go.sum
  crd/clustersubnetstate/api/v1alpha1/clustersubnetstate.go
  crd/clustersubnetstate/api/v1alpha1/zz_generated.deepcopy.go
  crd/clustersubnetstate/client.go
  crd/clustersubnetstate/embed.go
  crd/clustersubnetstate/embed_test.go
  crd/clustersubnetstate/manifests/acn.azure.com_clustersubnetstates.yaml
  crd/clustersubnetstate/manifests/doc.go
  crd/nodenetworkconfig/manifests/acn.azure.com_nodenetworkconfigs.yaml
Labels: cns, swift

#1492 Update poolmonitor to support batch size of 1
  cns/ipampool/monitor.go
  cns/ipampool/monitor_test.go
Labels: cns, swift, fix

#1475 Update Swift pipeline w byo cluster
  .pipelines/singletenancy/aks-swift/e2e-job-template.yaml
  .pipelines/singletenancy/aks-swift/e2e-step-template.yaml
  Makefile
  hack/swift/Makefile
  test/integration/manifests/cni/manager.yaml
  test/integration/manifests/cns/daemonset.yaml
Labels: enhancement, swift, ci

#1493 move singletenantcontroller to nested kubecontroller package and rename
  cns/kubecontroller/nodenetworkconfig/conversion.go
  cns/kubecontroller/nodenetworkconfig/conversion_test.go
  cns/kubecontroller/nodenetworkconfig/metrics.go
  cns/kubecontroller/nodenetworkconfig/reconciler.go
  cns/kubecontroller/nodenetworkconfig/reconciler_test.go
  cns/kubecontroller/nodenetworkconfig/scopedclient.go
  cns/service/main.go
Labels: cns

#1476 Add make target for delegated ipam
  Makefile
Labels: cni
