Repository Azure/azure-container-networking, pull requests merged in 2022-06, with the labels that each got.

#1410 deps: update deps in nested modules
  build/tools/go.mod
  build/tools/go.sum
  crd/nodenetworkconfig/manifests/acn.azure.com_nodenetworkconfigs.yaml
  zapai/go.mod
  zapai/go.sum
Labels: dependencies

#1415 add docker and github actions to dependabot config
  .github/dependabot.yaml
Labels: ci

#1324 npm: enable debug feature parity for v2
  build/tools/tools.go
  hack/toolbox/server/go.mod
  npm/azure-npm.yaml
  npm/cmd/convertiptable.go
  npm/cmd/convertiptable_test.go
  npm/cmd/debug.go
  npm/cmd/debug_test.go
  npm/cmd/gettuples.go
  npm/cmd/parseiptable.go
  npm/controller/server.go
  npm/http/server/server.go
  npm/http/server/server_test.go
  npm/ipsm/ipsm.go
  npm/ipsm/ipsm_test.go
  npm/npm.go
  npm/npm_test.go
  npm/npm_v1_test.go
  npm/pkg/controlplane/controllers/common/cache.go
  npm/pkg/controlplane/controllers/common/namespace.go
  npm/pkg/controlplane/controllers/common/pod.go
  npm/pkg/controlplane/controllers/v1/nameSpaceController.go
  npm/pkg/controlplane/controllers/v1/nameSpaceController_test.go
  npm/pkg/controlplane/controllers/v1/npmCache.go
  npm/pkg/controlplane/controllers/v1/podController.go
  npm/pkg/controlplane/controllers/v1/podController_test.go
  npm/pkg/controlplane/controllers/v2/namespaceController.go
  npm/pkg/controlplane/controllers/v2/namespaceController_test.go
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/controllers/v2/npmcache.go
  npm/pkg/controlplane/controllers/v2/podController.go
  npm/pkg/controlplane/controllers/v2/podController_test.go
  npm/pkg/controlplane/goalstateprocessor/goalstateprocessor.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/debug/const.go
  npm/pkg/dataplane/debug/converter.go
  npm/pkg/dataplane/debug/converter_test.go
  npm/pkg/dataplane/debug/trafficanalyzer.go
  npm/pkg/dataplane/debug/trafficanalyzer_test.go
  npm/pkg/dataplane/dpshim/dpshim.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/mocks/genericdataplane_generated.go
  npm/pkg/dataplane/parse/parser.go
  npm/pkg/dataplane/parse/parser_test.go
  npm/pkg/dataplane/pb/rule.pb.go
  npm/pkg/dataplane/testdata/iptablesave-v1
  npm/pkg/dataplane/testdata/iptablesave-v2
  npm/pkg/dataplane/testdata/netpol.yaml
  npm/pkg/dataplane/testdata/npmcachev1.json
  npm/pkg/dataplane/testdata/npmcachev2.json
  npm/pkg/dataplane/types.go
  npm/util/ioutil/restore.go
Labels: npm

#1399 fix: [NPM] manage policies on pod endpoints
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/types_linux.go
  npm/pkg/dataplane/types_windows.go
Labels: npm

#1401 fix: NPM ipv6/CIDR validation
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
  npm/util/util.go
Labels: npm

#1358 fix: replace NumCPU with NumCores
  cns/NetworkContainerContract.go
  cns/service/main.go
Labels: cns, fix

#1437 add tcp dns snat in swift scenario
  cni/network/invoker_cns.go
  cni/network/invoker_cns_test.go
Labels: cni, swift, fix

#1431 fix: [NPM-WIN] add an empty set to lists in Windows
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/ipsets/ipset_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
  npm/util/const.go
Labels: npm

#1440 fix: [NPM-WIN] deleted policy may sometimes be applied to a pod
  npm/pkg/dataplane/policies/policymanager_windows.go
Labels: npm

#1442 fix: [NPM-WIN] validate sctp
  npm/pkg/controlplane/controllers/v2/namespaceController.go
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/controllers/v2/podController.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policymanager.go
Labels: npm
