Repository Azure/azure-container-networking, pull requests merged in 2022-09, with the labels that each got.

#1533 Pipeline support for Go submodules versioned independently of root repo
  .github/workflows/cyclonus-netpol-extended-nightly-test.yaml
  .github/workflows/cyclonus-netpol-test.yaml
  .pipelines/Dockerfile
  .pipelines/containers/container-template-windows.yaml
  .pipelines/containers/container-template.yaml
  .pipelines/containers/manifest-template.yaml
  .pipelines/npm/npm-conformance-tests.yaml
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/aks-engine/e2e-dualstack-job-template.yaml
  .pipelines/singletenancy/aks-engine/e2e-job-template.yaml
  .pipelines/singletenancy/aks-engine/e2e-step-template.yaml
  .pipelines/singletenancy/aks-swift/e2e-job-template.yaml
  .pipelines/singletenancy/aks-swift/e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  Makefile
  build/scripts/windows.ps1
  hack/swift/Makefile
  test/integration/k8s_test.go
  test/integration/label.go
  test/integration/portforward.go
  test/integration/setup_test.go
  test/integration/utils_create_test.go
  test/integration/utils_delete_test.go
  test/integration/utils_parse_test.go
  test/integration/utils_test.go
Labels: ci

#1570 test: [NPM] wait on containerizing windows for ws22 conformance
  .pipelines/npm/npm-conformance-tests.yaml
Labels: npm

#1567 fix level of no valid NC log in reconciler
  cns/kubecontroller/nodenetworkconfig/reconciler.go
Labels: cns, fix

#1543 fix: [NPM-WIN] lock the policyMap & updatePodCache
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_linux.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/policies/chain-management_linux.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/types.go
Labels: npm

#1563 build arm64 images on an arm64 pool
  .pipelines/containers/container-template.yaml
  .pipelines/pipeline.yaml
Labels: work-in-progress, ci

#1578 fix: [WIN-NPM] concurrent map iteration and write for ipset selector reference
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
Labels: npm

#1568 fix: [WIN-NPM] don't remove policy from cache when updating pod
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/policies/policymanager_windows_test.go
Labels: npm

#1581 test: [WIN-NPM] ignore a test case with an unsupported namedport
  test/cyclonus/test-cyclonus-windows.sh
Labels: npm

#1579 Move primary IP count to separate metric to not affect the IPAM math
  cns/ipampool/metrics.go
  cns/ipampool/monitor.go
Labels: cns, fix

#1565 Add cilium connectivity tests
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  cilium/cilium_helm_values.yaml
  test/integration/setup_test.go
Labels: ci

#1603 test: [NPM] rename resource group for win cyc latest to prevent cleanup
  .pipelines/npm/npm-cyc-win-tests-latest-release.yaml
Labels: npm

#1591 Fix ClusterSubnetState JSON annotations and kubectl printcolumns
  crd/clustersubnetstate/api/v1alpha1/clustersubnetstate.go
  crd/clustersubnetstate/manifests/acn.azure.com_clustersubnetstates.yaml
Labels: cns, swift, fix

#1607 test: [NPM] deploy hns-debugger in latest cyc pipeline
  .pipelines/npm/npm-cyc-win-tests-latest-release.yaml
Labels: npm

#1558 add git configuration target to Makefile for Codespaces
  Makefile
Labels: ci

#1541 Add two more CNS endpoints to the CNS client
  cns/NetworkContainerContract.go
  cns/client/client.go
  cns/client/client_test.go
  cns/client/error.go
Labels: enhancement, cns

#1616 Revert "test: [NPM] rename resource group for win cyc latest to prevent cleanup (#1603)"
  .pipelines/npm/npm-cyc-win-tests-latest-release.yaml
Labels: npm, windows

#1594 Optimize subnet exhaustion handling
  cns/ipampool/metrics.go
  cns/ipampool/monitor.go
  cns/service/main.go
Labels: cns, swift, fix

#1623 NPM - add windows debug scripts
  debug/windows/npm/README.md
  debug/windows/npm/pod_exec.ps1
  debug/windows/npm/win-debug.ps1
Labels: npm

#1620 Fix: Added a metric to monitor the subnet exhaustion state within the Ipam Monitor Pool
  Makefile
  cns/ipampool/metrics.go
  cns/ipampool/monitor.go
  cns/kubecontroller/clustersubnetstate/metrics.go
  cns/kubecontroller/clustersubnetstate/reconciler.go
Labels: cns, swift

#1635 Proposal: Subnet Scarcity
  docs/feature/subnet-scarcity/phase-1/1-subnetstate.md
  docs/feature/subnet-scarcity/phase-1/2-exhaustion.md
  docs/feature/subnet-scarcity/phase-1/3-releaseips.md
  docs/feature/subnet-scarcity/phase-2/2-idempotentscaling.md
  docs/feature/subnet-scarcity/phase-3/1-watchpods.md
  docs/feature/subnet-scarcity/proposal.md
Labels: enhancement, cns, docs

#1639 update pipeline triggers
  .pipelines/pipeline.yaml
Labels: ci
