Repository Azure/azure-container-networking, pull requests merged in 2022-04, with the labels that each got.

#1318 move metrics to service port, add healthz, pprof
  cns/configuration/configuration.go
  cns/configuration/configuration_test.go
  cns/service/main.go
Labels: cns, swift

#1320 support CIDR notation in the NC PrimaryIP
  cns/singletenantcontroller/conversion.go
  cns/singletenantcontroller/conversion_test.go
Labels: cns, overlay

#1321 drop go1.17 from golangci-lint and update codeowners
  .github/CODEOWNERS
  .github/workflows/golangci.yaml
Labels: dependencies, ci

#1313 fix: [NPM] updating NPM marks with a mask to not clash with kube-proxy
  npm/pkg/dataplane/policies/chain-management_linux.go
  npm/pkg/dataplane/policies/chain-management_linux_test.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/util/const.go
Labels: npm

#1323 create nnc listener concept and adapt existing poolmonitor and swift …
  cns/api.go
  cns/fakes/monitor.go
  cns/ipampool/monitor.go
  cns/ipampool/monitor_test.go
  cns/service/main.go
  cns/singletenantcontroller/conversion.go
  cns/singletenantcontroller/reconciler.go
  cns/singletenantcontroller/reconciler_test.go
Labels: cns, swift, overlay

#1329 fix go test
  Makefile
Labels: fix, ci

#1328 Don't overwrite Spec in IPAM PoolMonitor from NNC again after initialization
  cns/ipampool/monitor.go
Labels: cns, swift, fix

#1331 move mode to NC and add type
  crd/nodenetworkconfig/api/v1alpha/nodenetworkconfig.go
  crd/nodenetworkconfig/manifests/acn.azure.com_nodenetworkconfigs.yaml
Labels: cns, swift, overlay

#1333 return an error for non http 200 response from nmagent
  cns/nmagent/client.go
Labels: cns, fix

#1307 perf: [NPM] make apply ipsets faster
  npm/pkg/dataplane/ipsets/dirtycache.go
  npm/pkg/dataplane/ipsets/dirtycache_linux.go
  npm/pkg/dataplane/ipsets/dirtycache_linux_test.go
  npm/pkg/dataplane/ipsets/dirtycache_test.go
  npm/pkg/dataplane/ipsets/dirtycache_windows.go
  npm/pkg/dataplane/ipsets/dirtycache_windows_test.go
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/ipsets/testutils_linux.go
Labels: npm

#1325 Support NetworkContainers of Static or Dynamic types
  Makefile
  cns/client/client_test.go
  cns/fakes/requestcontrollerfake.go
  cns/restserver/internalapi_test.go
  cns/service/main.go
  cns/singletenantcontroller/conversion.go
  cns/singletenantcontroller/conversion_test.go
  cns/singletenantcontroller/reconciler.go
  cns/singletenantcontroller/reconciler_test.go
Labels: cns, overlay

#1303 test: add tests for npm/util
  npm/util/util_test.go
Labels: npm

#1332 fix: [NPM] clean up logs
  npm/pkg/controlplane/controllers/v2/podController.go
  npm/pkg/dataplane/policies/chain-management_linux.go
  npm/pkg/dataplane/policies/chain-management_linux_test.go
  npm/pkg/dataplane/policies/policymanager_linux.go
Labels: npm

#1316 test: added additional ingress tests
  npm/pkg/controlplane/translation/translatePolicy_test.go
Labels: npm

#1334 make zapai a module
  .github/CODEOWNERS
  .github/dependabot.yaml
  build/tools/go.mod
  build/tools/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
  zapai/go.mod
  zapai/go.sum
Labels: enhancement, dependencies, ci

#1350 remove workspace and add helpers to set it up
  .gitignore
  Makefile
  go.work
  go.work.sum
Labels: dependencies, fix, ci

#1347 pull images from mcr
  .pipelines/Dockerfile
  Dockerfile.build
  Dockerfile.cnm
  cni/telemetry/Dockerfile
  cns/Dockerfile
  cns/windows.Dockerfile
  hack/toolbox/Dockerfile.windows
  hack/toolbox/manifests/Dockerfile.heavy
  hack/toolbox/server/Dockerfile.heavy
  hack/toolbox/server/Dockerfile.lite
  npm/Dockerfile
  npm/Dockerfile.windows
  tools/acncli/Dockerfile
Labels: dependencies, ci
