Repository Azure/azure-container-networking, pull requests merged in 2022-08, with the labels that each got.

#1494 Watch ClusterSubnetState and drive subnet exhaustion batch changes
  cns/configuration/configuration.go
  cns/configuration/configuration_test.go
  cns/configuration/testdata/good.json
  cns/ipampool/monitor.go
  cns/ipampool/monitor_test.go
  cns/kubecontroller/clustersubnetstate/reconciler.go
  cns/kubecontroller/nodenetworkconfig/reconciler.go
  cns/service/main.go
Labels: enhancement, work-in-progress, cns, swift

#1471 feat: Add native linux endpoint client to prep removing OVS
  go.mod
  go.sum
  netns/netns.go
  network/endpoint_linux.go
  network/hnswrapper/hnsv1wrapper.go
  network/hnswrapper/hnsv1wrapperinterface.go
  network/hnswrapper/hnsv2wrapperfake.go
  network/native_endpointclient_linux.go
  network/native_endpointclient_linux_test.go
  network/network.go
  network/network_linux.go
Labels: cni, feature

#1508 add cni installer manifest to hack dir
  hack/manifests/cni-installer.yaml
Labels: docs

#1363 Add Cyclonus Windows job
  .pipelines/npm/npm-conformance-tests.yaml
  Makefile
  npm/examples/windows/azure-npm.yaml
  test/cyclonus/install-cyclonus-controlplane.yaml
  test/cyclonus/install-cyclonus-windows.yaml
  test/cyclonus/test-cyclonus-windows.sh
  test/cyclonus/test-cyclonus.sh
Labels: npm

#1513 fix: [NPM-WIN] validation to prevent cidr except in windows
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Labels: npm

#1502 scale: [NPM] ignore leaked ipset references
  npm/iptm/iptm.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux_test.go
  npm/pkg/dataplane/ipsets/testutils_linux.go
  npm/pkg/dataplane/policies/chain-management_linux.go
  npm/pkg/dataplane/policies/chain-management_linux_test.go
  npm/pkg/dataplane/policies/policymanager_linux.go
  npm/util/const.go
  npm/util/ioutil/current-azure-chains.go
  npm/util/ioutil/grep.go
  npm/util/ioutil/restore.go
Labels: npm

#1520 remove cns bits from cni installer hackfile
  hack/manifests/cni-installer.yaml
Labels: ci

#1518 Add missing client paths to CNS Client
  cns/client/client.go
Labels: cns

#1499 Fix CNS Program iptables for delegated IPAM
  azure-ipam/azilium.conflist
  cns/Dockerfile
  cns/restserver/internalapi.go
  cns/restserver/internalapi_linux.go
  cns/restserver/internalapi_windows.go
  cns/restserver/restserver.go
  go.mod
  go.sum
Labels: cns, fix

#1531 exclude tags for go submodules when building repo version
  Makefile
Labels: ci

#1524 fix: Adding a constant hardware address to the veth
  netlink/link_linux.go
  netlink/mocknetlink.go
  netlink/netlink_test.go
  netlink/netlink_windows.go
  netlink/netlinkinterface.go
  netlink/socket.go
  network/bridge_endpointclient_linux.go
  network/networkutils/networkutils_linux.go
  network/ovs_endpointclient_linux.go
  network/ovsinfravnet/infravnet_linux.go
  network/snat/snat_linux.go
  network/transparent_endpointclient_linux.go
  network/transparent_vlan_endpointclient_linux.go
Labels: cni, fix

#1535 fix: Reverting the hardware address to use NUD_PERMANENT for ipv6 cases
  network/transparent_endpointclient_linux.go
Labels: cni

#1534 chore: Update k8s verion for NPM conformance tests
  .pipelines/npm/npm-conformance-tests.yaml
Labels: npm, ci

#1537 update github.com/containernetworking/cni
  cni/ipam/ipam.go
  cni/ipam/ipam_test.go
  cni/network/invoker.go
  cni/network/invoker_azure.go
  cni/network/invoker_azure_test.go
  cni/network/invoker_cns.go
  cni/network/invoker_cns_test.go
  cni/network/invoker_mock.go
  cni/network/multitenancy.go
  cni/network/multitenancy_mock.go
  cni/network/multitenancy_test.go
  cni/network/network.go
  cni/network/network_linux.go
  cni/network/network_linux_test.go
  cni/network/network_windows.go
  cni/network/network_windows_test.go
  cni/plugin.go
  go.mod
  go.sum
  ipam/azure_test.go
Labels: cni, dependencies

#1539 update cns dep in azure-ipam
  azure-ipam/go.mod
  azure-ipam/go.sum
Labels: dependencies

#1538 move reconciler-started log in to the once
  cns/kubecontroller/nodenetworkconfig/reconciler.go
Labels: cns, fix

#1500 feat: CNS manages endpoints state for delegate IPAM use case
  azure-ipam/ipconfig/ipconfig.go
  cns/NetworkContainerContract.go
  cns/azure-cns.yaml
  cns/client/client_test.go
  cns/cnireconciler/podinfoprovider.go
  cns/cnireconciler/podinfoprovider_test.go
  cns/configuration/configuration.go
  cns/logger/cnslogger.go
  cns/logger/log.go
  cns/restserver/api_test.go
  cns/restserver/const.go
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
  cns/restserver/restserver.go
  cns/restserver/util.go
  cns/service/main.go
  cns/types/codes.go
  common/config.go
  log/logger.go
  store/mockstore.go
Labels: cns, cni, swift

#1505 Update to Go 1.19
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/crdgen.yaml
  .github/workflows/cyclonus-netpol-extended-nightly-test.yaml
  .github/workflows/cyclonus-netpol-test.yaml
  .github/workflows/golangci.yaml
  azure-ipam/go.mod
  build/tools/go.mod
  build/tools/go.sum
  cns/Dockerfile
  cns/windows.Dockerfile
  dropgz/build/cni.Dockerfile
  dropgz/go.mod
  go.mod
  hack/toolbox/Dockerfile.windows
  hack/toolbox/server/Dockerfile.heavy
  hack/toolbox/server/Dockerfile.lite
  npm/Dockerfile
  npm/windows.Dockerfile
  tools/acncli/Dockerfile
  zapai/go.mod
Labels: dependencies, go

#1550 chore: [NPM-WIN] reduce logs by a third
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
Labels: npm

#1548 Add services conformance tests to ciliume2e
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  test/integration/setup_test.go
Labels: ci

#1556 Add conformance tests to swifte2e
  .pipelines/singletenancy/aks-swift/e2e-step-template.yaml
Labels: ci

#1559 add azure-ipam to dependabot tracking
  .github/dependabot.yaml
Labels: ci
