Repository Azure/azure-container-networking, pull requests merged in 2022-12, with the labels that each got.

#1701 add v1 conflist to dropgz
  dropgz/build/cni.Dockerfile
Labels: cni

#1668 fix: cns to use controller runtime (cached) clients in reconcilers
  cns/kubecontroller/clustersubnetstate/reconciler.go
  cns/kubecontroller/nodenetworkconfig/reconciler.go
  cns/kubecontroller/nodenetworkconfig/reconciler_test.go
  cns/service/main.go
  crd/client.go
  crd/clustersubnetstate/client.go
  crd/nodenetworkconfig/client.go
Labels: enhancement, cns

#1606 fix: [NPM-Win] Get local endpoints for updatepod, but all endpoints for cleanup.
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_linux.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/dataplane_windows_test.go
  npm/pkg/dataplane/testutils/utils_windows.go
  npm/pkg/dataplane/types_windows_test.go
Labels: npm

#1718 log: [NPM] warn instead of error on invalid Pod IPs
  npm/pkg/controlplane/controllers/v2/podController.go
Labels: npm
