Repository Azure/azure-container-networking, pull requests merged in 2022-05, with the labels that each got.

#1362 Revert "move metrics to service port, add healthz, pprof (#1318)"
  cns/configuration/configuration.go
  cns/configuration/configuration_test.go
  cns/service/main.go
Labels: cns, fix

#1345 build: Add Windows CNS & NPM as Part of Multi-Arch Manifest
  .pipelines/containers/container-template-windows.yaml
  .pipelines/containers/manifest-template.yaml
  .pipelines/pipeline.yaml
  .pipelines/windows-image.yaml
  Makefile
  cns/windows.Dockerfile
  npm/windows.Dockerfile
  windows.ps1
Labels: enhancement, cns, ci

#1364 hack pods for debugging
  hack/manifests/busybox-ds.yaml
  hack/manifests/busybox.yaml
  hack/manifests/kubectl.yaml
  hack/manifests/scaler.yaml
  hack/manifests/sshd.yaml
Labels: enhancement

#1351 build overlay cni tgz
  Makefile
Labels: enhancement, cni, overlay

#1366 CNS Prometheus and Grafana examples
  cns/doc/examples/metrics/README.md
  cns/doc/examples/metrics/grafana.json
  cns/doc/examples/metrics/podMonitor.yaml
  cns/doc/examples/metrics/scrape_config.yaml
Labels: cns, docs

#1365 include 0th address when parsing overlay cidrs
  cns/singletenantcontroller/conversion.go
  cns/singletenantcontroller/conversion_test.go
Labels: cns, overlay, fix

#1374 fix/refactor: [NPM] eliminate struct fields to prevent errors & reduce memory
  npm/pkg/controlplane/goalstateprocessor/goalstateprocessor.go
  npm/pkg/controlplane/goalstateprocessor/goalstateprocessor_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane_test.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/dpshim/dpshim_test.go
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policy_linux.go
  npm/pkg/dataplane/policies/policy_windows.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/policies/policymanager_windows_test.go
  npm/pkg/dataplane/policies/testutils.go
  test/integration/npm/main.go
Labels: npm

#1385 fix: [NPM] fix windows intersection of IPs
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/util/const.go
Labels: npm

#1400 fix: [NPM] windows-specific controller race leads to policy doesn't exist error while policy is pending
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows.go
Labels: npm
