Repository Azure/azure-container-networking, pull requests merged in 2022-03, with the labels that each got.

#1252 feat: [NPM] lazy delete ipsets
  npm/pkg/controlplane/controllers/v2/namespaceController.go
  npm/pkg/controlplane/controllers/v2/namespaceController_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows_test.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/testutils.go
  test/integration/npm/main.go
Labels: NPM

#1262 [NPM] Generate TLS certificates during docker build and bake into image for gRPC secure channels
  .gitignore
  npm/Dockerfile
  npm/cmd/root.go
  npm/cmd/start.go
  npm/deploy/kustomize/overlays/controller/deployment.yaml
  npm/deploy/kustomize/overlays/daemon/deployment.yaml
  npm/pkg/transport/errors.go
  npm/pkg/transport/events_client.go
  npm/pkg/transport/events_server.go
  npm/pkg/transport/tls.go
  npm/scripts/generate_certs.sh
  npm/scripts/san.cnf
Labels: NPM

#1264 test: [NPM] Stress Testing & Fix Conformance Logs
  .pipelines/npm/npm-conformance-tests.yaml
Labels: NPM

#1266 feat: [NPM] include NPM v1/v2 in telemetry and fix heartbeat log
  npm/cmd/start.go
  npm/cmd/start_daemon.go
  npm/cmd/start_server.go
  npm/config/config.go
  npm/iptm/iptm.go
  npm/metrics/ai-utils.go
  npm/pkg/dataplane/dataplane.go
  npm/util/const.go
Labels: NPM

#1142 changing the HLIP address used in apipa endpoint
  network/endpoint_windows.go
Labels: stale

#1288 test: [NPM] Removing fail on AITelemetry error
  npm/cmd/start.go
  npm/cmd/start_daemon.go
  npm/cmd/start_server.go
  npm/metrics/ai-utils.go
Labels: bug, NPM
