Repository Azure/azure-container-networking, pull requests merged in 2023-07, with the labels that each got.

#1933 implement zap for cni
  azure-ipam/logger/logger.go
  cni/api/api.go
  cni/ipam/ipam.go
  cni/ipam/ipam_test.go
  cni/ipam/plugin/main.go
  cni/ipam/pluginv6/main.go
  cni/log/logger.go
  cni/log/logger_linux.go
  cni/log/logger_mock.go
  cni/log/logger_windows.go
  cni/network/invoker_azure.go
  cni/network/invoker_azure_test.go
  cni/network/invoker_cns.go
  cni/network/multitenancy.go
  cni/network/network.go
  cni/network/network_linux.go
  cni/network/network_windows.go
  cni/network/plugin/main.go
  cni/plugin.go
  cni/telemetry/service/telemetrymain.go
  common/config.go
  go.mod
  go.sum
Labels: cni

#2040 update: add pod info to windows endpoint
  network/endpoint_windows.go
Labels: enhancement, cni, windows

#2048 fix: [CNI] Windows image change for load test
  test/integration/manifests/noop-deployment-windows.yaml
  test/internal/k8sutils/utils.go
Labels: cni, fix

#2049 ci: validate CNS in-memory state after restart
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
Labels: ci

#2052 ci: [CNI] Adding aks cluster creation steps for k8s e2e test
  .pipelines/cni/singletenancy/windows-cni-load-test-template.yaml
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/aks/e2e-job-template.yaml
  .pipelines/singletenancy/aks/e2e-step-template.yaml
  Makefile
  cni/build/windows.Dockerfile
  dropgz/build/cniTest.Dockerfile
  hack/aks/Makefile
  hack/scripts/updatecni.ps1
  test/integration/manifests/cni/cni-installer-v1.yaml
Labels: cni, ci

#2044 fix: disabling CGO for NPM
  npm/linux.Dockerfile
  npm/windows.Dockerfile
Labels: npm

#2036 ci:[CNI] Update pool name for cni load test pipeline
  .pipelines/cni/cilium/cilium-overlay-load-test-template.yaml
Labels: cni, ci

#2050 Add Delete Network call to NMAgent client
  nmagent/client.go
  nmagent/client_test.go
  nmagent/requests.go
Labels: swift

#2058 ci: [Cilium] Add CNS and dropgz version as pipeline params
  .pipelines/cni/cilium/nightly-release-test.yml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
Labels: ci

#2051 Adding cni and cns deamonset specs to target managed DNC scenario
  .pipelines/mdnc/azure-cns-cni.yaml
Labels: ci

#2038 Returning IPAddress instead of IPPrefix in CNI ADD response
  cni/network/network.go
Labels: cni

#2054 Improving error messages in windows command execution
  platform/os_windows.go
  platform/os_windows_test.go
Labels: cni, windows

#1969 perf: [NPM] [LINUX] add NetPols in background
  .github/workflows/cyclonus-netpol-extended-nightly-test.yaml
  .github/workflows/cyclonus-netpol-test.yaml
  .pipelines/npm/npm-conformance-tests.yaml
  .pipelines/npm/npm-scale-test.yaml
  network/hnswrapper/hnsv2wrapperfake.go
  npm/azure-npm.yaml
  npm/cmd/start.go
  npm/config/config.go
  npm/examples/windows/azure-npm-capz.yaml
  npm/examples/windows/azure-npm.yaml
  npm/metrics/acl_rules_linux.go
  npm/metrics/acl_rules_linux_test.go
  npm/metrics/prometheus-metrics.go
  npm/metrics/prometheus-values.go
  npm/metrics/prometheus-values_windows.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_linux.go
  npm/pkg/dataplane/dataplane_linux_test.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/policies/policymanager_windows_test.go
  npm/pkg/dataplane/types.go
  npm/profiles/v1-default.yaml
  npm/profiles/v1-place-azure-chain-first.yaml
  npm/profiles/v2-apply-on-need.yaml
  npm/profiles/v2-background.yaml
  npm/profiles/v2-foreground.yaml
  npm/profiles/v2-place-first.yaml
  npm/util/ioutil/restore.go
Labels: npm, linux

#2064 [Fix] update gw ip to 169.254.2.1 for transparent-vlan as its conflicting with other cni
  network/transparent_vlan_endpointclient_linux.go
Labels: cni, fix, multitenancy

#2053 chore: bump azure-npm-capz.yaml
  npm/examples/windows/azure-npm-capz.yaml
Labels: npm, ci, windows

#2065 chore: Removing CNI logs that are not useful
  cni/network/network.go
  network/endpoint.go
  network/manager.go
  platform/os_linux.go
Labels: enhancement, cni

#2043 fix: use cached ctrlruntime client in IPAM pool monitor
  cns/restserver/ipam.go
  cns/service/main.go
Labels: cns, fix

#2062 ci:[CNI] Replace AKS-Engine Tests with k8s conformance tests
  .pipelines/cni/k8s-e2e/k8s-e2e-job-template.yaml
  .pipelines/cni/k8s-e2e/k8s-e2e-step-template.yaml
  .pipelines/npm/npm-cni-integration-test.yaml
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/aks-engine/e2e-job-template.yaml
  .pipelines/singletenancy/aks-swift/e2e-step-template.yaml
  .pipelines/singletenancy/aks/e2e-job-template.yaml
  .pipelines/singletenancy/aks/e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  hack/aks/Makefile
Labels: npm, cni, ci

#2070 fix: [CI] mismatch in the variable name to deploy the services in scale test
  test/scale/test-scale.sh
Labels: fix, ci

#2066 scripts to cleanup ovs bridge and ovs leaked rules
  hack/scripts/ovs_scripts/README.md
  hack/scripts/ovs_scripts/remove_ovs_bridges.py
  hack/scripts/ovs_scripts/remove_ovs_leaked_rules.py
Labels: cni, multitenancy

#2071 ci: add cilium identities check to nightly pipeline
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  test/integration/manifests/cilium/deployment.yaml
Labels: ci

#2078 fix: assume invalid semver CNI has the required dump state command
  cni/client/client.go
  cns/cnireconciler/version.go
  cns/cnireconciler/version_test.go
Labels: cns

#2082 test: clean up cns state check tests
  test/integration/load/load_test.go
  test/validate/client.go
  test/validate/linux_validate.go
  test/validate/windows_validate.go
Labels: ci

#2089 CI: Removing AKS engine related code
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/aks-engine/e2e-dualstack-job-template.yaml
  .pipelines/singletenancy/aks-engine/e2e-job-template.yaml
  .pipelines/singletenancy/aks-engine/e2e-step-template.yaml
  .pipelines/submodules-pipeline.yaml
  test/apimodels/cniLinux1804.json
  test/apimodels/cniLinuxDualstack1804.json
  test/apimodels/cniWindows1903.json
  test/apimodels/cniWindows2004.json
  test/apimodels/cniWindows2022.json
  test/apimodels/cniWindowsDualstack2004.json
Labels: ci

#2086 ci: Add k8s network conformance tests to makefile
  Makefile
  hack/aks/Makefile
  hack/scripts/k8se2e-tests.sh
  hack/scripts/k8se2e.sh
Labels: ci

#2041 ci:[CNI] Windows datapath using k8se2e template
  .pipelines/cni/singletenancy/windows-cni-load-test-template.yaml
Labels: cni, ci

#2092 refactor: Match CNI go tests
  test/integration/datapath/datapath_linux_test.go
  test/integration/datapath/datapath_windows_test.go
Labels: cni

#2073 test: add azure cni overlay e2e
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-step-template.yaml
  test/integration/manifests/cnsconfig/azurecnioverlayconfigmap.yaml
  test/integration/manifests/ip-masq-agent/config-custom.yaml
  test/integration/manifests/ip-masq-agent/config-reconcile.yaml
  test/integration/manifests/ip-masq-agent/ip-masq-agent.yaml
  test/integration/setup_test.go
Labels: ci

#2094 Release candidate v1.4.44.4
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  .pipelines/singletenancy/overlay/overlay-e2e-step-template.yaml
  cni/client/client.go
  cns/cnireconciler/version.go
  cns/cnireconciler/version_test.go
  test/integration/utils_test.go
Labels: cns
