Repository Azure/azure-container-networking, pull requests merged in 2023-04, with the labels that each got.

#1773 Dualstack CNS Changes
  cns/NetworkContainerContract.go
  cns/NetworkContainerContract_test.go
  cns/client/client.go
  cns/client/client_test.go
  cns/ipamclient/ipamclient.go
  cns/restserver/internalapi.go
  cns/restserver/internalapi_test.go
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
  cns/restserver/restserver.go
  cns/restserver/util.go
Labels: cns

#1890 ci: increase golint timeout to 25m
  .github/workflows/golangci.yaml
Labels: ci

#1848 fix: [WIN-NPM] filter HNS endpoints
  network/hnswrapper/hnsv2wrapper.go
  network/hnswrapper/hnsv2wrapperfake.go
  network/hnswrapper/hnsv2wrapperinterface.go
  network/hnswrapper/hnsv2wrapperwithtimeout.go
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/dataplane_windows_test.go
  npm/pkg/dataplane/types_linux.go
  npm/pkg/dataplane/types_windows.go
Labels: npm, windows

#1879 test: k8s scale testing with KWOK
  .gitignore
  test/scale/README.md
  test/scale/connectivity/allow-pinger.yaml
  test/scale/connectivity/pinger.yaml
  test/scale/connectivity/test-connectivity.sh
  test/scale/run-kwok.sh
  test/scale/templates/kwok-deployment.yaml
  test/scale/templates/kwok-node.yaml
  test/scale/templates/networkpolicy.yaml
  test/scale/templates/real-deployment.yaml
  test/scale/test-scale.sh
  test/scale/utils/capture-cpu-and-mem.sh
Labels: npm, cni, ci, linux, windows

#1864 consolidated dependency update for azure-ipam
  azure-ipam/go.mod
  azure-ipam/go.sum
Labels: dependencies

#1903 ci: [WIN-NPM] fix download failures in Cyclonus Pipeline
  .pipelines/npm/npm-conformance-tests.yaml
Labels: npm, ci, windows

#1901 CNS writes Cilium Conflist
  cns/cniconflist/generator.go
  cns/cniconflist/generator_linux.go
  cns/cniconflist/generator_linux_test.go
  cns/cniconflist/generator_windows.go
  cns/cniconflist/testdata/fixtures/cilium.conflist
  cns/service/main.go
Labels: cns

#1887 fix: [WIN-NPM] allow readiness probes
  npm/cmd/start.go
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane_test.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/policies/policymanager_windows_test.go
  npm/util/util.go
  npm/util/util_test.go
Labels: npm, windows

#1844 ci: [WIN-NPM] remove ws19 build
  .pipelines/pipeline.yaml
  Makefile
Labels: npm, windows

#1856 fix: [WIN-NPM] process updatePods in fifo order
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_test.go
  npm/pkg/dataplane/dataplane_windows_test.go
  npm/pkg/dataplane/types.go
Labels: npm, windows

#1907 ci: [CNS] fix cns-manifest-build parameter
  Makefile
Labels: cns, ci

#1892 Delete host veth interface on endpoint creation error in transparent-vlan mode
  network/bridge_endpointclient_linux.go
  network/endpoint.go
  network/endpoint_linux.go
  network/endpoint_snatroute_linux.go
  network/endpoint_test.go
  network/endpoint_windows.go
  network/manager.go
  network/mock_endpointclient.go
  network/ovs_endpointclient_linux.go
  network/transparent_endpointclient_linux.go
  network/transparent_vlan_endpointclient_linux.go
  network/transparent_vlan_endpointclient_linux_test.go
Labels: cni, multitenancy

#1910 test: expand KWOK scripts to test deletions and more
  test/scale/README.md
  test/scale/connectivity/test-connectivity.sh
  test/scale/install-kwok.sh
  test/scale/run-kwok.sh
  test/scale/templates/kwok-deployment.yaml
  test/scale/templates/real-deployment.yaml
  test/scale/templates/unapplied-networkpolicy.yaml
  test/scale/test-scale.sh
Labels: npm, cni, ci, windows

#1913 CNS ipam and client changes to address comments
  cns/client/client.go
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
Labels: cns

#1889 Fix incorrect error "UnsupportedAPI" returned by CNI
  cni/network/multitenancy.go
  cni/network/multitenancy_test.go
Labels: cni, fix

#1906 Set constant mac for host veth interface in transparent vlan mode
  cni/network/network.go
  netio/mocknetio.go
  netlink/mocknetlink.go
  netns/netns.go
  network/bridge_endpointclient_linux.go
  network/endpoint_linux.go
  network/endpoint_linux_test.go
  network/endpoint_windows.go
  network/manager.go
  network/manager_mock.go
  network/mock_endpointclient.go
  network/network.go
  network/network_linux.go
  network/network_test.go
  network/networkutils/networkutils_linux.go
  network/ovs_endpoint_snatroute_linux.go
  network/ovs_endpointclient_linux.go
  network/snat/snat_linux.go
  network/transparent_endpointclient_linux.go
  network/transparent_vlan_endpoint_snatroute_linux.go
  network/transparent_vlan_endpointclient_linux.go
  network/transparent_vlan_endpointclient_linux_test.go
Labels: cni, multitenancy

#1917 ci: cns writes cilium conflist for PR tests
  test/integration/manifests/cns/ciliumconfigmap.yaml
  test/integration/manifests/cns/daemonset.yaml
  test/integration/manifests/cns/overlayconfigmap.yaml
  test/integration/setup_test.go
Labels: ci

#1909 ci: validate pods and systemd-networkd restart for PRs
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  .pipelines/singletenancy/overlay/overlay-e2e-step-template.yaml
  hack/scripts/validate_state.sh
  test/integration/manifests/cilium/cilium-agent/clusterrole.yaml
  test/integration/manifests/cilium/cilium-agent/clusterrolebinding.yaml
  test/integration/manifests/cilium/cilium-agent/daemonset.yaml
  test/integration/manifests/cilium/cilium-agent/serviceaccount.yaml
  test/integration/manifests/cilium/cilium-config.yaml
  test/integration/manifests/cilium/cilium-operator/clusterrole.yaml
  test/integration/manifests/cilium/cilium-operator/clusterrolebinding.yaml
  test/integration/manifests/cilium/cilium-operator/deployment.yaml
  test/integration/manifests/cilium/cilium-operator/serviceaccount.yaml
Labels: ci

#1875 perf: [WIN-NPM] apply ipsets in background
  npm/azure-npm.yaml
  npm/cmd/start.go
  npm/config/config.go
  npm/examples/windows/azure-npm.yaml
  npm/npm.go
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows_test.go
Labels: npm, windows

#1908 update nnc printcols for kubectl output
  crd/nodenetworkconfig/api/v1alpha/nodenetworkconfig.go
  crd/nodenetworkconfig/manifests/acn.azure.com_nodenetworkconfigs.yaml
Labels: cns

#1916 ci: [CNI] Add restart node in stage in the load test of cni pipeline
  .pipelines/cni/cilium/cilium-cni-load-test.yaml
  hack/scripts/scale_deployment.sh
  hack/scripts/validate_state.sh
  hack/swift/Makefile
  hack/swift/README.md
Labels: cni, ci

#1893 perf: [WIN-NPM] add all cached NetworkPolicies to a Pod at once
  npm/azure-npm.yaml
  npm/cmd/start.go
  npm/config/config.go
  npm/examples/windows/azure-npm.yaml
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_windows.go
Labels: npm, windows

#1792 Update install-cni-plugin.sh
  scripts/install-cni-plugin.sh
Labels: cni, docs
