Repository Azure/azure-container-networking, pull requests merged in 2023-05, with the labels that each got.

#1922 fix: [CNI] NAT hostPort mapping for HNSv2
  cni/network/network_windows.go
  cni/network/network_windows_test.go
Labels: cni, windows

#1928 ci: cilium load test uses cns write conflist
  .pipelines/cni/cilium/cilium-cni-load-test.yaml
  test/integration/manifests/cilium/cns-write-ovly.yaml
  test/integration/manifests/cnsconfig/ciliumconfigmap.yaml
  test/integration/manifests/cnsconfig/overlayconfigmap.yaml
  test/integration/manifests/cnsconfig/swiftconfigmap.yaml
  test/integration/setup_test.go
Labels: ci

#1934 Update to cilium v1.12.8
  cilium/cilium_helm_values.yaml
  test/integration/manifests/cilium/cilium-agent/daemonset.yaml
  test/integration/manifests/cilium/cilium-operator/deployment.yaml
Labels: ci

#1912 ci: [WIN-NPM] windows validation script run on CAPZ
  test/capz/npm/npm-e2e.sh
Labels: npm, ci, windows

#1950 ci: use 1.4.44_hotfix image in cilium load test
  test/integration/manifests/cilium/cns-write-ovly.yaml
Labels: ci

#1958 ci: [WIN-NPM] mitigate Cyclonus infra issues
  .pipelines/npm/npm-conformance-tests.yaml
  test/cyclonus/test-cyclonus-windows.sh
Labels: npm, ci, windows

#1962 ci: fix cilium validate state check for PRs
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  .pipelines/singletenancy/overlay/overlay-e2e-step-template.yaml
  hack/scripts/validate_state.sh
Labels: ci

#1915 ci: [NPM] scale test pipeline using KWOK
  .pipelines/npm/npm-conformance-tests.yaml
  .pipelines/npm/npm-scale-test.yaml
  test/scale/README.md
  test/scale/connectivity/test-connectivity.sh
  test/scale/test-scale.sh
Labels: npm, ci, windows
