Repository Azure/azure-container-networking, pull requests merged in 2023-03, with the labels that each got.

#1820 Add multiplat Windows 2019 and 2022 image support to tooling and pipelines, use for CNS/NPM
  .github/workflows/cyclonus-netpol-extended-nightly-test.yaml
  .github/workflows/cyclonus-netpol-test.yaml
  .pipelines/containers/container-template-windows.yaml
  .pipelines/containers/container-template.yaml
  .pipelines/containers/manifest-template.yaml
  .pipelines/npm/npm-conformance-tests-latest-release.yaml
  .pipelines/npm/npm-conformance-tests.yaml
  .pipelines/npm/npm-cyc-win-tests-latest-release.yaml
  .pipelines/pipeline.yaml
  .pipelines/submodules-pipeline.yaml
  Makefile
  cns/linux.Dockerfile
  cns/windows.Dockerfile
  dropgz/build/linux.Dockerfile
  npm/Dockerfile
  npm/linux.Dockerfile
  npm/windows.Dockerfile
Labels: enhancement, fix, ci, windows

#1830 fix tag for building container images
  Makefile
Labels: fix, ci

#1828 add func GetNumEndpointsInNetNs() to support to get number of endpoints for deletion
  cni/network/network.go
  network/manager.go
  network/manager_mock.go
  network/network.go
  network/network_test.go
Labels: cni, dualnic

#1829 instantiate a default cns config if loading fails
  cns/configuration/configuration.go
  cns/service/main.go
  internal/fs/atmoic_test.go
  internal/fs/atomic.go
  internal/fs/testdata/.gitignore
  internal/fs/testdata/data.txt
Labels: cns, fix

#1752 feat: [NPM-WIN] support for CAPZ windows testing
  network/hnswrapper/hnsv2wrapperfake.go
  npm/cmd/start.go
  npm/config/config.go
  npm/examples/windows/azure-npm-capz.yaml
  npm/examples/windows/long-running-pod-for-capz.yaml
  npm/examples/windows/setkubeconfigpath-capz.ps1
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/dataplane_windows_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows_test.go
  npm/pkg/dataplane/ipsets/testutils_windows.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/policies/policymanager_windows_test.go
  npm/util/const.go
  npm/windows.Dockerfile
Labels: npm, ci

#1625 Allow DNC to create NCs on a node with duplicate orchestrator context -- CNI & CNS
  cni/network/cnsclient.go
  cni/network/multitenancy.go
  cni/network/multitenancy_mock.go
  cni/network/multitenancy_test.go
  cni/network/network.go
  cni/network/network_linux.go
  cni/network/network_test.go
  cni/network/network_windows.go
  cns/NetworkContainerContract.go
  cns/client/client.go
  cns/client/client_test.go
  cns/client/error.go
  cns/restserver/api.go
  cns/restserver/api_test.go
  cns/restserver/internalapi.go
  cns/restserver/restserver.go
  cns/restserver/util.go
  cns/restserver/util_test.go
  cns/types/codes.go
Labels: cni, feature, multitenancy

#1831 fix: [NPM-WIN] do not refresh endpoints if pod cache is empty
  npm/pkg/dataplane/dataplane.go
Labels: npm

#1837 chore: [WIN-NPM] update mcr image to v1.4.45 for capz testing
  npm/examples/windows/azure-npm-capz.yaml
Labels: npm, ci, windows

#1806 fix: [NPM-WIN] ability to reassign Pod associated with Endpoint
  npm/pkg/controlplane/controllers/v2/podController.go
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/dataplane_windows_test.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/types_windows.go
Labels: bug, npm, windows

#1739 fix: [NPM] add check for invalid /0 cidr
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
  npm/util/util.go
Labels: npm

#1843 fix: [WIN-NPM] revert breaking change to .exe filename
  npm/examples/windows/azure-npm.yaml
  npm/windows.Dockerfile
Labels: npm, windows

#1841 Skip removing vnet namespace in Linux CNI Multitenancy
  network/transparent_vlan_endpointclient_linux.go
  network/transparent_vlan_endpointclient_linux_test.go
Labels: cni, multitenancy

#1849 fix: Windows CNI Overlay Gateway Bug
  cni/network/invoker_cns.go
  cni/network/invoker_cns_test.go
  cni/network/network.go
  cni/network/network_linux.go
  cni/network/network_test.go
  cni/network/network_windows.go
Labels: cni, fix

#1860 add metric for tracking failure to start the controller-runtime manager
  cns/service/main.go
  cns/service/metrics.go
Labels: cns

#1857 test: [WIN-NPM] skip unnecessary UTs
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane_windows_test.go
Labels: npm, windows

#1867 fix: [WIN-NPM] back-compat mitigation to PATH issue
  npm/examples/windows/azure-npm-capz.yaml
  npm/examples/windows/azure-npm.yaml
Labels: npm, windows

#1781 update to go1.20
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/crdgen.yaml
  .github/workflows/cyclonus-netpol-extended-nightly-test.yaml
  .github/workflows/cyclonus-netpol-test.yaml
  .github/workflows/golangci.yaml
  azure-ipam/go.mod
  build/tools/go.mod
  cns/linux.Dockerfile
  cns/windows.Dockerfile
  dropgz/build/cniTest.Dockerfile
  dropgz/build/linux.Dockerfile
  dropgz/go.mod
  go.mod
  hack/toolbox/Dockerfile.windows
  hack/toolbox/server/Dockerfile.heavy
  hack/toolbox/server/Dockerfile.lite
  npm/linux.Dockerfile
  npm/windows.Dockerfile
  tools/acncli/Dockerfile
  zapai/go.mod
Labels: dependencies

#1877 consolidated dependency updated for dropgz
  dropgz/go.mod
  dropgz/go.sum
Labels: dependencies

#1878 consolidated dependency update for zapai
  zapai/go.mod
  zapai/go.sum
Labels: dependencies

#1861 timeout after 15 minutes waiting for the NNC reconciler to start
  cns/kubecontroller/nodenetworkconfig/reconciler.go
  cns/service/main.go
  cns/service/metrics.go
Labels: cns

#1882 consolidated build dependency update
  .github/workflows/crdgen.yaml
  .github/workflows/golangci.yaml
  build/tools/go.mod
  build/tools/go.sum
Labels: dependencies, ci
