Repository Azure/azure-container-networking, pull requests merged in 2023-01, with the labels that each got.

#1748 test: [NPM-LINUX] update linux conformance binary
  .pipelines/npm/npm-conformance-tests.yaml
Labels: do-not-merge, npm, ci

#1763 update cilium version to fix pipelines
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  .pipelines/singletenancy/overlay/overlay-e2e-step-template.yaml
  cilium/cilium_helm_values.yaml
Labels: ci

#1717 fix: [NPM] add NetworkPolicy validation for matchExpression values
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Labels: bug, npm

#1743 perf: [NPM-WIN] only track updatepods on-node
  npm/pkg/dataplane/dataplane.go
Labels: npm, windows

#1741 fix: [NPM-WIN] ignore irrelevant errors from ipsetmanager
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows.go
Labels: bug, npm, windows

#1714 parameterize dependency versions in dropgz and update azcni
  dropgz/build/cni.Dockerfile
Labels: cni, swift, overlay
