Repository Azure/azure-container-networking, pull requests merged in 2023-02, with the labels that each got.

#1771 Adds reference daemonset for v1 cni installer
  hack/manifests/cni-installer-v1.yaml
Labels: cni, docs

#1782 update golangci-lint to v1.51
  .github/workflows/golangci.yaml
  build/tools/go.mod
  build/tools/go.sum
Labels: dependencies

#1738 fix: [NPM] add check for valid IPV4 addresses in TranslatePolicy
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Labels: npm

#1795 [CNI][Fix] Make iptable calls idempotent for swift podsubnet scenario
  cni/network/invoker_cns.go
Labels: bug, cni, fix

#1791 fix: multitenantnetwork reconciler should check errors correctly
  cns/multitenantcontroller/mockclients/Makefile
  cns/multitenantcontroller/mockclients/cnsrestservice_generated.go
  cns/multitenantcontroller/multitenantoperator/multitenantcrdreconciler.go
  cns/multitenantcontroller/multitenantoperator/multitenantcrdreconciler_test.go
Labels: cns, fix

#1503 fix: [NPM] cleanup restarted pod stuck with no IP
  npm/metrics/prometheus-metrics.go
  npm/pkg/controlplane/controllers/v2/podController.go
  npm/pkg/controlplane/controllers/v2/podController_test.go
  npm/pkg/dataplane/dataplane_windows.go
Labels: npm

#1805 docs: [NPM] add windows documentation and update links to MSDocs
  README.md
  docs/npm.md
Labels: npm

#1673 Dualstack cilium proposal
  docs/feature/dualstack/Cilium-dualstack.md
Labels: enhancement, cns, cni, docs

#1811 CNS in-mem cache to use containerid as key if manageendpointstate is enabled
  cns/service/main.go
Labels: cns, fix

#1801 deprecate SetOwnerRef in favor of SetControllerRef
  crd/nodenetworkconfig/client.go
Labels: cns, fix

#1804 fix: [NPM] update endpointcache after remove policy
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/types_linux.go
Labels: npm

#1807 log: [NPM-WIN] clean up some logs
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/policies/policymanager_windows.go
Labels: npm, windows
