Repository Azure/azure-container-networking, pull requests merged in 2023-06, with the labels that each got.

#1974 fix: [NPM] check if policy exists in case of nil pointer
  npm/pkg/dataplane/dataplane.go
Labels: bug, npm

#1965 ci: disable kube-proxy for test clusters
  .pipelines/cni/cilium/cilium-cni-load-test.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  .pipelines/singletenancy/overlay/overlay-e2e-step-template.yaml
  hack/scripts/validate_state.sh
  hack/swift/Makefile
  hack/swift/kube-proxy.json
Labels: ci

#1900 perf: [WIN-NPM] fast bootup
  npm/npm.go
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows_test.go
  npm/pkg/dataplane/dpshim/dpshim.go
  npm/pkg/dataplane/mocks/genericdataplane_generated.go
  npm/pkg/dataplane/types.go
  npm/pkg/dataplane/types_windows_test.go
Labels: npm, windows

#1978 tool: [NPM] script to clean up iptable chains
  tools/cleanup-npm-iptables.sh
Labels: npm, ci, linux

#1959 feat: [WIN-NPM] metrics for latencies and failures
  network/hnswrapper/hnsv2wrapperfake.go
  npm/metrics/acl_rules.go
  npm/metrics/acls_windows.go
  npm/metrics/acls_windows_test.go
  npm/metrics/endpoints_windows.go
  npm/metrics/endpoints_windows_test.go
  npm/metrics/ipsets.go
  npm/metrics/ipsets_windows_test.go
  npm/metrics/prometheus-metrics.go
  npm/metrics/prometheus-values_windows.go
  npm/metrics/prometheus_test.go
  npm/metrics/setpolicies_windows.go
  npm/metrics/setpolicies_windows_test.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/dataplane_windows_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/policies/policymanager_windows_test.go
Labels: npm, windows

#1997 ci: change overlaye2e stage to cilium-overlay
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/submodules-pipeline.yaml
Labels: ci

#1964 test: Adding prometheus config for acn docs
  test/scale/config/prometheus
Labels: cni, docs

#1995 ci: bump cilium to v1.12.10
  cilium/cilium_helm_values.yaml
  test/integration/manifests/cilium/cilium-agent/daemonset.yaml
  test/integration/manifests/cilium/cilium-operator/deployment.yaml
Labels: ci

#1990 [Cilium] [Pipeline] Enable Kubeproxy replacement healthz endpoint
  test/integration/manifests/cilium/cilium-config.yaml
Labels: ci

#2003 CI: [CNI] Replace the bash scripts for CNI load testing with golang test cases
  .pipelines/cni/cilium/cilium-cni-load-test.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  Makefile
  hack/scripts/scale_deployment.sh
  hack/scripts/validate_state.sh
  test/integration/k8s_test.go
  test/integration/load/load_test.go
  test/integration/manifests/load/noop-deployment.yaml
  test/integration/manifests/load/privileged-daemonset.yaml
  test/integration/setup_test.go
  test/internal/k8sutils/label.go
  test/internal/k8sutils/utils.go
  test/internal/k8sutils/utils_create.go
  test/internal/k8sutils/utils_delete.go
  test/internal/k8sutils/utils_get.go
  test/internal/k8sutils/utils_parse.go
  test/internal/retry/retry.go
  test/validate/client.go
  test/validate/linux_validate.go
  test/validate/utils.go
Labels: cni, ci

#2009 docs: updating the pull request readme to add labels for each PR
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs

#2001 log/test: [WIN-NPM] log when we finish bootup phase & make UT more consistent
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows_test.go
Labels: npm, windows

#1999 feat: [NPM] metric for total Pod IPs
  npm/metrics/ipsets.go
  npm/metrics/ipsets_test.go
  npm/metrics/ipsets_windows_test.go
  npm/metrics/prometheus-metrics.go
  npm/pkg/controlplane/controllers/v2/namespaceController.go
  npm/pkg/controlplane/controllers/v2/podController.go
  npm/pkg/controlplane/controllers/v2/podController_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows_test.go
Labels: npm, linux, windows

#1975 ci: [NPM] improve scale pipeline & fix edge case in scale script
  .pipelines/npm/npm-conformance-tests.yaml
  .pipelines/npm/npm-scale-test.yaml
  test/scale/README.md
  test/scale/test-scale.sh
Labels: npm, ci, linux

#2008 Moving v4overlay and dualstackoverlay to just 'overlay' in CNI
  cni/azure-linux-swift-overlay-dualstack.conflist
  cni/azure-linux-swift-overlay.conflist
  cni/azure-windows-swift-overlay-dualstack.conflist
  cni/azure-windows-swift-overlay.conflist
  cni/network/invoker_cns.go
  cni/network/invoker_cns_test.go
  cni/network/network_windows.go
  cni/util/const.go
Labels: enhancement, cni

#2014 fix: Updating the vmsize for e2e cilium to avoid resource scarcity
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  test/internal/k8sutils/utils.go
Labels: fix, ci

#2017 Removing a network policy test that is unreliable
  .pipelines/singletenancy/aks-engine/e2e-step-template.yaml
Labels: ci

#2011 CI:[CNI] Templatise CNI load test pipeline yaml
  .pipelines/cni/cilium/cilium-overlay-load-test-template.yaml
  .pipelines/cni/load-test-templates/create-cluster-template.yaml
  .pipelines/cni/load-test-templates/pod-deployment-template.yaml
  .pipelines/cni/load-test-templates/restart-node-template.yaml
  .pipelines/cni/load-test-templates/validate-state-template.yaml
  .pipelines/cni/pipeline.yaml
Labels: cni, ci

#2018 fix: [WIN-NPM] fix units of new latency metrics
  npm/metrics/acls_windows.go
  npm/metrics/endpoints_windows.go
  npm/metrics/prometheus-metrics.go
  npm/metrics/setpolicies_windows.go
  npm/metrics/timer.go
  npm/metrics/timer_test.go
Labels: npm, windows

#2021 fix: updating CNI version in dropgz to 1.5.4
  dropgz/build/linux.Dockerfile
Labels: bug, cni, fix

#2020 fix: implement String for logging of PodInfo and IPConfig
  cns/NetworkContainerContract.go
  cns/api.go
  cns/restserver/util.go
Labels: cns, fix

#2015 ci:[CNI] Add Retry to connectivity test
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
Labels: cni, ci

#2012 log: [NPM] don't log benign nft errors at bootup
  npm/pkg/dataplane/policies/chain-management_linux.go
Labels: npm, linux

#2023 [Fix][CNS] InterfaceID should be set to containerID instead of interfaceName if CNS managing state
  cns/cnireconciler/podinfoprovider.go
  cns/cnireconciler/podinfoprovider_test.go
  cns/restserver/ipam.go
Labels: cns, fix

#2016 ci:[CNI] Add windows CNIv1 datapath test
  test/integration/datapath/datapath_win_test.go
  test/integration/manifests/datapath/windows-deployment.yaml
  test/internal/datapath/datapath_win.go
  test/internal/k8sutils/utils_create.go
  test/internal/k8sutils/utils_delete.go
  test/internal/k8sutils/utils_get.go
  test/internal/k8sutils/utils_parse.go
Labels: cni, ci

#2027 fix: setdir in CNI client
  cni/client/client.go
  cni/client/const_linux.go
  cni/client/const_windows.go
Labels: bug, cns, cni, swift, overlay, fix

#2022 fix: reconcile initial state from CRD regardless of existing podInfo
  cns/restserver/internalapi_test.go
  cns/service/main.go
  go.mod
  go.sum
Labels: cns, fix

#2029 update codeowners
  .github/CODEOWNERS
Labels: fix, ci

#2030 fix: CNS init must have an NC
  cns/restserver/internalapi.go
  cns/service/main.go
Labels: cns, swift, overlay, fix

#2028 fix: [WIN-NPM] race during bootup where we may not add one NetPol to a Pod
  npm/pkg/dataplane/dataplane-test-cases_windows_test.go
  npm/pkg/dataplane/dataplane.go
Labels: npm, windows

#2031 fix: [CNI] CNI load test failing due to namespace already created
  test/integration/load/load_test.go
  test/internal/k8sutils/utils.go
  test/internal/k8sutils/utils_create.go
Labels: cni, fix, ci

#2024 ci:[CNI] Windows cniv1 load test pipeline
  .pipelines/cni/cilium/cilium-overlay-load-test-template.yaml
  .pipelines/cni/load-test-templates/create-cluster-template.yaml
  .pipelines/cni/load-test-templates/pod-deployment-template.yaml
  .pipelines/cni/load-test-templates/restart-node-template.yaml
  .pipelines/cni/load-test-templates/validate-state-template.yaml
  .pipelines/cni/pipeline.yaml
  .pipelines/cni/singletenancy/windows-cni-load-test-template.yaml
  .pipelines/singletenancy/aks-swift/e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  Makefile
  cni/build/windows.Dockerfile
  hack/aks/Makefile
  hack/aks/README.md
  hack/aks/kube-proxy.json
  hack/manifests/windows-update.yaml
  hack/scripts/updatecni.ps1
  test/integration/load/load_test.go
  test/integration/manifests/load/privileged-daemonset-windows.yaml
  test/integration/manifests/noop-deployment-linux.yaml
  test/integration/manifests/noop-deployment-windows.yaml
  test/internal/k8sutils/utils.go
  test/validate/client.go
  test/validate/windows_validate.go
Labels: cni, ci, windows

#1924 perf: Store Lock timeout for CNI in Windows is increased to 1 minute.
  aitelemetry/telemetrywrapper.go
  cni/plugin.go
  store/json.go
Labels: enhancement, cni, windows
