Repository Azure/azure-container-networking, pull requests merged in 2024-10, with the labels that each got.

#3005 feat: [NPM] Adding Npm Lite
  npm/cacheencoder.go
  npm/cmd/start.go
  npm/config/config.go
  npm/controller/server.go
  npm/examples/azure-npm-lite.yaml
  npm/examples/windows/azure-npm-lite-win.yaml
  npm/npm.go
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/controllers/v2/networkPolicyController_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/types_windows_test.go
  npm/pkg/models/types.go
Labels: npm, linux, windows

#3033 fix: [WIN-NPM] HNS Remote Endpoint Fix
  npm/pkg/dataplane/dataplane_windows.go
Labels: npm, windows

#3029 fix: make ipamv2 metrics resilient to missing custom resource definitions
  cns/ipampool/metrics/observer.go
  cns/ipampool/v2/monitor.go
  cns/service/main.go
  crd/clustersubnetstate/client.go
Labels: cns, fix

#3028 fix: missing logs in log file
  cns/service.go
  cns/service/main.go
Labels: bug, cns

#3051 fix: add max reconcile delay interval to IPAM monitor
  cns/ipampool/v2/monitor.go
Labels: cns

#3049 chore: improve IPAM logging
  cns/ipampool/v2/monitor.go
  cns/kubecontroller/pod/reconciler.go
  cns/restserver/internalapi.go
  cns/restserver/ipam.go
  cns/restserver/metrics.go
Labels: cns

#3037 feat: add codeql exec wrapper sinks
  codeql/acn-addipamconfig.ql
  codeql/acn-cni-args.ql
  codeql/acn-cns-invoker.ql
  codeql/acn-decode.ql
  codeql/lib/ACN.qll
Labels: cni, ci

#3041 backport: rip out dropgz
  .pipelines/pipeline.yaml
  Makefile
Labels: ci

#3044 Update atomic fs writer to delay tempfile creation until Write() is called
  internal/fs/atomic.go
  internal/fs/atomic_test.go
Labels: cns, release/latest

#3022 chore: upgrade go toolchain to 1.23
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/codeql.yaml
  .github/workflows/crdgen.yaml
  .github/workflows/cyclonus-netpol-extended-nightly-test.yaml
  .github/workflows/cyclonus-netpol-test.yaml
  .github/workflows/golangci.yaml
  azure-ipam/Dockerfile
  azure-ipam/go.mod
  bpf-prog/ipv6-hp-bpf/go.mod
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
  build/tools/go.mod
  cni/Dockerfile
  cns/Dockerfile
  dropgz/go.mod
  go.mod
  hack/toolbox/Dockerfile.windows
  hack/toolbox/server/Dockerfile.heavy
  hack/toolbox/server/Dockerfile.lite
  npm/linux.Dockerfile
  npm/windows.Dockerfile
  tools/acncli/Dockerfile
  zapai/go.mod
Labels: cns, npm, cni, ci, go, release/latest, needs-backport, dropgz

#3061 chore: update build tools and regenerate CRDs
  build/tools/go.mod
  build/tools/go.sum
  crd/clustersubnetstate/manifests/acn.azure.com_clustersubnetstates.yaml
  crd/multitenancy/manifests/multitenancy.acn.azure.com_multitenantpodnetworkconfigs.yaml
  crd/multitenancy/manifests/multitenancy.acn.azure.com_nodeinfo.yaml
  crd/multitenancy/manifests/multitenancy.acn.azure.com_podnetworkinstances.yaml
  crd/multitenancy/manifests/multitenancy.acn.azure.com_podnetworks.yaml
  crd/multitenantnetworkcontainer/manifests/networking.azure.com_multitenantnetworkcontainers.yaml
  crd/nodenetworkconfig/manifests/acn.azure.com_nodenetworkconfigs.yaml
  crd/overlayextensionconfig/manifests/acn.azure.com_overlayextensionconfigs.yaml
Labels: dependencies

#3065 ci: add wait before adding windows nodepool if cluster is in updating state
  .pipelines/singletenancy/azure-cni-overlay-stateless/azure-cni-overlay-stateless-e2e-job-template.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e-job-template.yaml
  .pipelines/templates/add-windows-nodepool-job.yaml
Labels: cni, ci

#3023 Make throttling nmagent fetches for nodesubnet more dynamic
  cns/nodesubnet/helper_for_ip_fetcher_test.go
  cns/nodesubnet/ip_fetcher.go
  cns/nodesubnet/ip_fetcher_test.go
  nmagent/equality.go
  nmagent/macaddress.go
  refresh/equaler.go
  refresh/fetcher.go
  refresh/fetcher_test.go
  refresh/helper_for_fetcher_test.go
  refresh/logger.go
  refresh/mocktickprovider.go
  refresh/refreshticker.go
Labels: cns, go

#3069 test: add uts for cni add function
  cni/network/invoker_mock.go
  cni/network/network_linux.go
  cni/network/network_linux_test.go
  cni/network/network_test.go
  cni/network/network_windows_test.go
  network/endpoint.go
  network/secondary_endpoint_linux_test.go
Labels: cni, ci

#3057 feat: create a dummy NC to store secondary IPs in nodesubnet deployments with Cilium
  cns/NetworkContainerContract.go
  cns/nodesubnet/initialization.go
  cns/nodesubnet/initialization_test.go
  cns/nodesubnet/nodesubnet_nc.go
  cns/nodesubnet/nodesubnet_nc_test.go
  cns/restserver/internalapi.go
  cns/restserver/internalapi_test.go
  cns/restserver/util.go
  cns/service/main.go
Labels: cns

#3078 chore: delete podAntiAffinity from cilium daemonsets in test
  test/integration/manifests/cilium/v1.13/cilium-agent/templates/daemonset.yaml
  test/integration/manifests/cilium/v1.14/cilium-agent/templates/daemonset-dualstack.yaml
  test/integration/manifests/cilium/v1.14/cilium-agent/templates/daemonset.yaml
  test/integration/manifests/cilium/v1.16/cilium-agent/templates/daemonset-dualstack.yaml
  test/integration/manifests/cilium/v1.16/cilium-agent/templates/daemonset.yaml
Labels: ci

#3089 fix: update pipeline to handle an extra character 'v' in version tag
  .pipelines/cni/cilium/cilium-overlay-load-test-template.yaml
  .pipelines/cni/cilium/cilium-scale-test.yaml
  .pipelines/cni/lsg/lsg-cni-intergration-template.yaml
  .pipelines/networkobservability/pipeline.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e.steps.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e.steps.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e.steps.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e.steps.yaml
Labels: ci
