Repository Azure/azure-container-networking, pull requests merged in 2024-08, with the labels that each got.

#2889 backport: test: validate inputs to acn components (#2845)
  cni/network/network.go
  cni/network/network_test.go
  cns/NetworkContainerContract.go
  cns/NetworkContainerContract_test.go
Labels: cns, cni, release/1.5

#2885 fix: add log for ipam data received
  ipam/azure.go
Labels: cni, fix, release/1.4

#2878 feat: Create win 2025 images for CNI and CNS using windows servercore insider tags.
  .pipelines/pipeline.yaml
  Makefile
  cni/Dockerfile
  cns/Dockerfile
Labels: cns, cni

#2899 refactor: create safer command execution method
  aitelemetry/telemetrywrapper_test.go
  cns/dockerclient/dockerclient.go
  ebtables/ebtables.go
  iptables/iptables.go
  network/network_linux.go
  network/network_windows.go
  network/networkutils/networkutils_linux.go
  network/snat/snat_linux.go
  network/transparent_endpointclient_linux.go
  network/transparent_vlan_endpointclient_linux.go
  ovsctl/ovsctl.go
  platform/mockexec.go
  platform/osInterface.go
  platform/os_linux.go
  platform/os_linux_test.go
  platform/os_windows.go
  platform/os_windows_test.go
  telemetry/telemetry_windows.go
Labels: enhancement, cni, linux, windows

#2853 add accelnet support on CNI
  cni/network/invoker_cns.go
  cni/network/invoker_cns_test.go
  cni/network/invoker_mock.go
  cni/network/multitenancy_test.go
  cni/network/network.go
  cni/network/network_test.go
  cni/network/network_windows.go
  cni/network/network_windows_test.go
  network/endpoint_linux.go
  network/endpoint_test.go
  network/endpoint_windows.go
  network/endpoint_windows_test.go
  network/hnswrapper/hnsv2wrapper.go
  network/hnswrapper/hnsv2wrapperfake.go
  network/hnswrapper/hnsv2wrapperinterface.go
  network/hnswrapper/hnsv2wrapperwithtimeout.go
  network/manager.go
  network/manager_test.go
  network/network.go
  network/network_linux.go
  network/network_windows.go
  network/network_windows_test.go
  network/policy/policy_windows.go
  network/policy/policy_windows_test.go
  network/secondary_endpoint_linux_test.go
Labels: cni, windows

#2898 ci: enable state validation in linux cni v1
  .pipelines/singletenancy/aks/e2e-step-template.yaml
Labels: cni, ci

#2911 hotfix: set hcnNetwork flag as non-persistent mode
  network/network_windows.go
  network/network_windows_test.go
Labels: cni

#2915 fix: pass right interface name to generate hns endpoint name as expected
  cni/network/network.go
  cni/network/network_test.go
Labels: cni

#2921 fix: make statless CNI to return an empty state when CNI GET API is …
  cni/network/stateless/main.go
Labels: cni

#2901 ci: Add node restart to cniv2 E2E
  .pipelines/singletenancy/aks-swift/e2e-job-template.yaml
  .pipelines/singletenancy/aks-swift/e2e-step-template.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e-step-template.yaml
Labels: ci, release/1.4, needs-backport, release/1.5

#2926 [fix] ci: Update expected cilium connectivity test namespace
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
Labels: fix, ci, needs-backport, release/1.5

#2454 chore: move cns from servercore to nanoserver
  azure-ipam/Dockerfile
  cni/Dockerfile
  cns/Dockerfile
Labels: cns, needs-backport

#2922 [FIX] ci: Update AzCLI task to v2
  .pipelines/cni/cilium/cilium-overlay-load-test-template.yaml
  .pipelines/cni/cilium/cilium-scale-test.yaml
  .pipelines/cni/cilium/nightly-release-test.yml
  .pipelines/cni/k8s-e2e/k8s-e2e-job-template.yaml
  .pipelines/cni/load-test-templates/create-cluster-template.yaml
  .pipelines/cni/load-test-templates/pod-deployment-template.yaml
  .pipelines/cni/load-test-templates/restart-cns-template.yaml
  .pipelines/cni/load-test-templates/restart-hns-template.yaml
  .pipelines/cni/load-test-templates/restart-node-template.yaml
  .pipelines/cni/load-test-templates/validate-state-template.yaml
  .pipelines/cni/lsg/kernel-upgrade-template.yaml
  .pipelines/cni/lsg/lsg-cni-intergration-template.yaml
  .pipelines/cni/pipeline.yaml
  .pipelines/cni/singletenancy/cniv1-template.yaml
  .pipelines/cni/singletenancy/cniv2-template.yaml
  .pipelines/containers/container-template.yaml
  .pipelines/containers/manifest-template.yaml
  .pipelines/multitenancy/swiftv2-e2e-step-template.yaml
  .pipelines/networkobservability/pipeline.yaml
  .pipelines/npm/npm-conformance-tests.yaml
  .pipelines/singletenancy/aks-swift/e2e-step-template.yaml
  .pipelines/singletenancy/aks/e2e-step-template.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e-step-template.yaml
  .pipelines/templates/create-cluster-swiftv2.yaml
  .pipelines/templates/create-cluster.yaml
  .pipelines/templates/delete-cluster.yaml
  .pipelines/templates/log-template.yaml
Labels: fix, ci, release/1.4, needs-backport, release/1.5

#2938 backport: deps: bump github.com/docker/docker (#2912)
  go.mod
  go.sum
Labels: release/1.5

#2940 [backport] CI/CD changes to PR and CNI Release Test Pipelines
  .pipelines/cni/cilium/cilium-overlay-load-test-template.yaml
  .pipelines/cni/cilium/cilium-scale-test.yaml
  .pipelines/cni/cilium/nightly-release-test.yml
  .pipelines/cni/k8s-e2e/k8s-e2e-job-template.yaml
  .pipelines/cni/load-test-templates/create-cluster-template.yaml
  .pipelines/cni/load-test-templates/pod-deployment-template.yaml
  .pipelines/cni/load-test-templates/restart-cns-template.yaml
  .pipelines/cni/load-test-templates/restart-hns-template.yaml
  .pipelines/cni/load-test-templates/restart-node-template.yaml
  .pipelines/cni/load-test-templates/validate-state-template.yaml
  .pipelines/cni/lsg/kernel-upgrade-template.yaml
  .pipelines/cni/lsg/lsg-cni-intergration-template.yaml
  .pipelines/cni/pipeline.yaml
  .pipelines/cni/singletenancy/cniv1-template.yaml
  .pipelines/cni/singletenancy/cniv2-template.yaml
  .pipelines/containers/container-template.yaml
  .pipelines/containers/manifest-template.yaml
  .pipelines/multitenancy/swiftv2-e2e-step-template.yaml
  .pipelines/networkobservability/pipeline.yaml
  .pipelines/npm/npm-conformance-tests.yaml
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/aks-swift/e2e-job-template.yaml
  .pipelines/singletenancy/aks-swift/e2e-step-template.yaml
  .pipelines/singletenancy/aks/e2e-step-template.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-step-template.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e-step-template.yaml
  .pipelines/templates/create-cluster-swiftv2.yaml
  .pipelines/templates/create-cluster.yaml
  .pipelines/templates/delete-cluster.yaml
  .pipelines/templates/log-template.yaml
Labels: fix, ci, release/1.5

#2925 ci: run some cni windows uts in the pipeline
  .pipelines/pipeline.yaml
  .pipelines/templates/run-unit-tests.yaml
  cni/network/multitenancy_mock.go
  cni/network/network_test.go
  cni/network/network_windows_test.go
Labels: cni, ci, release/1.4, needs-backport, release/1.5

#2942 ci: remove ovs create bridge test
  network/ovs_networkclient_linux_test.go
Labels: cni, ci

#2928 fix: dualnic options to avoid overwritting vlanMaps
  cni/network/invoker.go
  cni/network/invoker_cns_test.go
  cni/network/multitenancy_test.go
  cni/network/network.go
  cni/network/network_linux.go
  cni/network/network_windows.go
  network/endpoint.go
Labels: cni, fix

#2951 fix: k8s load test scenario for dualstack vs datapath
  .pipelines/cni/cilium/cilium-overlay-load-test-template.yaml
Labels: ci

#2952 fix: Add --kubernetes-version to linux-cniv1-up cluster creation
  hack/aks/Makefile
Labels: fix, ci, release/latest, needs-backport, release/1.5

#2923 Add UTs to configure secondary interfaces add Result for windows swiftv2
  cni/network/invoker_cns_test.go
  cni/network/network.go
  cni/network/network_windows_test.go
  network/endpoint_windows.go
Labels: cni

#2906 chore: remove cnm code
  Dockerfile.cnm
  Makefile
  README.md
  cnm/api.go
  cnm/config.json
  cnm/ipam/api.go
  cnm/ipam/ipam.go
  cnm/ipam/ipam_test.go
  cnm/network/api.go
  cnm/network/network.go
  cnm/network/network_linux_test.go
  cnm/plugin.go
  cnm/plugin/main.go
  cnm/plugin_linux.go
  cnm/plugin_windows.go
  cns/api.go
  cns/ipamclient/ipamclient.go
  cns/ipamclient/ipamclient_linux.go
  cns/ipamclient/ipamclient_test.go
  cns/ipamclient/ipamclient_windows.go
  cns/restserver/api.go
  cns/restserver/restserver.go
  cns/service/main.go
  common/config.go
  docs/README.md
  docs/cnm.md
Labels: cni

#2904 fix: don't print stack trace of error for certain logs to prevent spam
  cni/log/logger_error.go
  cni/log/logger_test.go
  cni/network/invoker_cns.go
  cni/network/network.go
Labels: cni

#2939 [backport] fix: set cluster auto-upgrade and node auto-upgrade in the hackfile #2253
  .pipelines/singletenancy/aks/e2e-job-template.yaml
  .pipelines/templates/create-cluster.yaml
  hack/aks/Makefile
  test/integration/manifests/cni/cni-installer-v1-windows.yaml
Labels: ci, release/1.4

#2932 [CNS] Add unit tests to Standalone SwiftV2 scenario
  cns/middlewares/standaloneSwiftV2.go
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
  cns/restserver/util_test.go
Labels: cns, swift-v2

#2931 Update dockerfiles to use go v1.22
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/codeql.yaml
  .github/workflows/crdgen.yaml
  .github/workflows/cyclonus-netpol-extended-nightly-test.yaml
  .github/workflows/cyclonus-netpol-test.yaml
  .github/workflows/golangci.yaml
  Makefile
  azure-ipam/go.mod
  build/tools/go.mod
  dropgz/build/linux.Dockerfile
  dropgz/build/windows.Dockerfile
  dropgz/go.mod
  go.mod
  hack/toolbox/Dockerfile.windows
  hack/toolbox/server/Dockerfile.heavy
  hack/toolbox/server/Dockerfile.lite
  npm/linux.Dockerfile
  npm/windows.Dockerfile
  tools/acncli/Dockerfile
  zapai/go.mod
Labels: cns

#2941 Add UTs to test findMasterInterface
  cni/network/network.go
  cni/network/network_test.go
Labels: cni

#2964 fix: [NPM] [Linux] panic if applyIPSets continues to fail
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
Labels: npm, linux

#2962 backport: ci: run some cni windows uts in the pipeline (#2925)
  .pipelines/pipeline.yaml
  .pipelines/templates/run-unit-tests.yaml
  cni/network/multitenancy_mock.go
  cni/network/network_linux_test.go
  cni/network/network_test.go
  cni/network/network_windows_test.go
  network/hnswrapper/hnsv2wrapper.go
  network/hnswrapper/hnsv2wrapperfake.go
  network/hnswrapper/hnsv2wrapperinterface.go
  network/hnswrapper/hnsv2wrapperwithtimeout.go
  network/manager_mock.go
  network/network_windows.go
Labels: cni, ci, release/1.5

#2886 feat: add device plugin support to CNS
  cns/deviceplugin/plugin.go
  cns/deviceplugin/pluginmanager.go
  cns/deviceplugin/pluginmanager_test.go
  cns/deviceplugin/server.go
  cns/deviceplugin/socketwatcher.go
  cns/deviceplugin/socketwatcher_test.go
  cns/deviceplugin/testdata/socket.sock
  go.mod
  go.sum
Labels: cns

#2969 [backport] fix: [NPM] [Linux] panic if applyIPSets continues to fail
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
Labels: npm, linux

#2976 fix: Ignore accelnetEnable flag to disable swiftv2 Linux&&Windows for AccelentNIC
  cns/middlewares/k8sSwiftV2.go
Labels: cns

#2978 fix: [NPM] [Linux] race when deleting/readding NetPol with CIDR rules
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/testutils_linux.go
  npm/pkg/dataplane/ipsets/testutils_windows.go
  npm/pkg/dataplane/policies/policy.go
Labels: npm, linux

#2965 Add UTs for CNI Windows Policy
  network/policy/policy_windows_test.go
Labels: cni

#2980 [backport] fix: [NPM] [Linux] race when deleting/readding NetPol
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/testutils_linux.go
  npm/pkg/dataplane/ipsets/testutils_windows.go
  npm/pkg/dataplane/policies/policy.go
Labels: npm, linux
