Repository Azure/azure-container-networking, pull requests merged in 2024-06, with the labels that each got.

#2688 refactor: code changes for stateless cni and swift v2
  cni/network/invoker.go
  cni/network/invoker_azure.go
  cni/network/invoker_azure_test.go
  cni/network/invoker_cns.go
  cni/network/invoker_cns_test.go
  cni/network/invoker_mock.go
  cni/network/multitenancy.go
  cni/network/multitenancy_mock.go
  cni/network/multitenancy_test.go
  cni/network/network.go
  cni/network/network_linux.go
  cni/network/network_linux_test.go
  cni/network/network_test.go
  cni/network/network_windows.go
  cni/network/network_windows_test.go
  cnm/network/network.go
  netio/netio.go
  network/bridge_networkclient_linux.go
  network/endpoint.go
  network/endpoint_linux.go
  network/endpoint_snatroute_linux.go
  network/endpoint_test.go
  network/endpoint_windows.go
  network/endpoint_windows_test.go
  network/manager.go
  network/manager_mock.go
  network/manager_test.go
  network/mock_endpointclient.go
  network/network.go
  network/network_linux.go
  network/network_test.go
  network/network_windows.go
  network/network_windows_test.go
  network/ovs_endpoint_infraroute_linux.go
  network/ovs_endpoint_snatroute_linux.go
  network/ovs_endpointclient_linux.go
  network/secondary_endpoint_client_linux.go
  network/secondary_endpoint_linux_test.go
  network/transparent_vlan_endpoint_snatroute_linux.go
Labels: enhancement, cni, swift-v2

#2765 ci: skip async delete for nightly pipeline
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
Labels: ci

#2679 feat: Added NIC type and modified setRoutes function to support Windows
  cni/network/invoker_cns.go
  cni/network/invoker_cns_test.go
  cns/NetworkContainerContract.go
  cns/middlewares/k8sSwiftV2.go
  cns/middlewares/k8sSwiftV2_linux.go
  cns/middlewares/k8sSwiftV2_test_linux.go
  cns/middlewares/k8sSwiftV2_windows.go
  cns/middlewares/mock/mockClient.go
  cns/middlewares/utils/utils.go
  crd/multitenancy/api/v1alpha1/utils.go
Labels: cns, go

#2751 feat: add mTLS to CNS
  cns/configuration/cns_config.json
  cns/configuration/configuration.go
  cns/configuration/configuration_test.go
  cns/configuration/testdata/good.json
  cns/service.go
  cns/service/main.go
  cns/service_test.go
  common/listener.go
  server/tls/tlscertificate_retriever.go
Labels: cns

#2769 ci: build ipv6-hp-bpf in pipeline
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-step-template.yaml
  Makefile
  bpf-prog/ipv6-hp-bpf/README.md
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
  test/integration/manifests/cilium/v1.14/cilium-agent/templates/daemonset-dualstack.yaml
  test/integration/manifests/cilium/v1.14/cilium-config/cilium-config-dualstack.yaml
Labels: ci

#2783 ci: makefile ACN_VERSION exclusions
  Makefile
Labels: ci

#2784 fix: Rename test file
  cns/middlewares/k8sSwiftV2_linux_test.go
Labels: bug, cns

#2785 feat: bumping dropGZ to 1.6.0 and adding stateless CNI to Windows
  dropgz/build/linux.Dockerfile
  dropgz/build/windows.Dockerfile
Labels: cns, cni

#2661 fix: move CNS to distroless-iptables base image
  .pipelines/cni/cilium/cilium-overlay-load-test-template.yaml
  cns/linux.Dockerfile
  hack/scripts/async-delete-test.sh
  test/integration/manifests/cns/daemonset-linux.yaml
  test/integration/swiftv2/swiftv2_test.go
  test/internal/datapath/datapath_win.go
  test/internal/kubernetes/utils.go
  test/internal/kubernetes/utils_create.go
  test/validate/linux_validate.go
  test/validate/validate.go
  test/validate/windows_validate.go
Labels: cns, fix

#2780 [CNS] refactor: remove redundant check for TLSSettings.TLSPort
  cns/service.go
Labels: cns

#2787 ci: Remove depreciated values from Cilium nightly config
  test/integration/manifests/cilium/cilium-nightly-config.yaml
Labels: ci

#2745 Added gRPC Server Boilerplate Code for CNS
  cns/configuration/configuration.go
  cns/configuration/configuration_test.go
  cns/grpc/cns.go
  cns/grpc/server.go
  cns/service/main.go
Labels: cns

#2559 combine linux and win Dockerfiles using build targets
  Makefile
  azure-ipam/Dockerfile
  azure-ipam/linux.Dockerfile
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
  cni/Dockerfile
  cni/windows.Dockerfile
  cns/Dockerfile
  cns/linux.Dockerfile
  cns/windows.Dockerfile
  dropgz/build/linux.Dockerfile
  dropgz/build/windows.Dockerfile
  npm/linux.Dockerfile
  npm/windows.Dockerfile
Labels: ci, linux, windows, release/latest

#2797 Add default routes k8s windows
  .pipelines/pipeline.yaml
  Makefile
  cns/middlewares/k8sSwiftV2_windows.go
  cns/middlewares/k8sSwiftV2_windows_test.go
Labels: cns

#2789 fix: move bufio reader creation out of for loop to fix telemetry unmarshal errors
  telemetry/telemetrybuffer.go
  telemetry/telemetrybuffer_test.go
Labels: cni, fix, telemetry

#2798 fix: CNS should ignore NNCs that are being deleted
  cns/kubecontroller/nodenetworkconfig/reconciler.go
  cns/service/main.go
Labels: cns, fix, release/latest, needs-backport, release/1.5

#2804 build windows 2025 binaries
  Makefile
  cns/Dockerfile
Labels: cns

#2801 fix: Modified the value of DelegatedVMNIC to resolve compatibility issue
  cns/NetworkContainerContract.go
Labels: cns

#2807 deps: bump github.com/Azure/azure-sdk-for-go/sdk/azidentity from 1.5.2 to 1.6.0
  go.mod
  go.sum
Labels: dependencies, release/1.5

#2813 backport: fix: move bufio reader creation out of for loop to fix telemetry unmarshal errors (#2789)
  telemetry/telemetrybuffer.go
  telemetry/telemetrybuffer_test.go
Labels: cni, fix, telemetry, release/1.5

#2814 ci: [backport] Image related CI/CD
  .pipelines/cni/cilium/nightly-release-test.yml
  .pipelines/containers/container-template.yaml
  .pipelines/containers/manifest-template.yaml
  .pipelines/pipeline.yaml
  Makefile
  cns/windows.Dockerfile
  npm/windows.Dockerfile
Labels: ci

#2812 backport: fix: move bufio reader creation out of for loop to fix telemetry unmarshal errors (#2789)
  telemetry/telemetrybuffer.go
  telemetry/telemetrybuffer_test.go
Labels: cni, fix, telemetry, release/1.4

#2810 fix: Revert the naming change for DelegatedVMNIC on master
  cns/NetworkContainerContract.go
Labels: cns, fix, needs-backport

#2805 add gateway on CNS to get populated
  cns/middlewares/k8sSwiftV2.go
Labels: cns
