Repository Azure/azure-container-networking, pull requests merged in 2025-01, with the labels that each got.

#2979 Instantiate Device Plugin
  cns/service/main.go
  crd/multitenancy/client.go
Labels: cns, swift-v2

#3316 log: [NPM] init telemetry before dataplane
  npm/cmd/start.go
Labels: npm, fix

#3317 fix: modify codeql query to use DataFlow instead of DataFlow2 library
  .github/workflows/codeql.yaml
  codeql/acn-addipamconfig.ql
  codeql/acn-cni-args.ql
  codeql/acn-cns-invoker.ql
  codeql/acn-decode.ql
  codeql/lib/ACN.qll
Labels: fix, ci

#3333 fix: [NPM] close telemetry handler before crashing
  npm/cmd/start.go
  npm/metrics/ai-utils.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
Labels: npm, fix

#3337 fix(log): time waiting for appinsights to close was unbounded
  aitelemetry/telemetrywrapper.go
Labels: cns, npm, fix

#3339 chore: add a retraction of 1.16.16
  go.mod
Labels: bug, go

#3294 chore(deps): update dependencies in release/v1.5
  .github/workflows/codeql.yaml
  .github/workflows/crdgen.yaml
  .github/workflows/cyclonus-netpol-test.yaml
  .github/workflows/golangci.yaml
  .golangci.yml
  azure-ipam/go.mod
  azure-ipam/go.sum
  azure-ipam/linux.Dockerfile
  azure-ipam/windows.Dockerfile
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
  cni/linux.Dockerfile
  cni/windows.Dockerfile
  cns/linux.Dockerfile
  cns/windows.Dockerfile
  dropgz/build/linux.Dockerfile
  dropgz/build/windows.Dockerfile
  go.mod
  go.sum
  hack/toolbox/Dockerfile.windows
  hack/toolbox/server/Dockerfile.heavy
  hack/toolbox/server/Dockerfile.lite
  npm/linux.Dockerfile
  npm/windows.Dockerfile
  tools/acncli/Dockerfile
Labels: dependencies, release/1.5

#3342 chore: retract 1.16.17 and 1.15.22
  go.mod
Labels: bug, go

#3343 fix: prevent CNS hanging on HNS restart
  cns/service/main.go
  platform/os_windows.go
Labels: cns, fix

#3361 backport: fix: prevent CNS hanging on HNS restart (#3343)
  .golangci.yml
  cns/service/main.go
  platform/os_windows.go
Labels: cns, release/1.5
