Repository Azure/azure-container-networking, pull requests merged in 2025-08, with the labels that each got.

#3828 chore: add label and remove reviewers
  .github/dependabot.yaml
Labels: ci

#3781 ci: add azure iptables monitor pipeline
  .github/CODEOWNERS
  .pipelines/build/dockerfiles/azure-iptables-monitor.Dockerfile
  .pipelines/build/ob-prepare.steps.yaml
  .pipelines/build/scripts/azure-iptables-monitor.sh
  .pipelines/pipeline.yaml
  .pipelines/run-pipeline.yaml
  azure-iptables-monitor/Dockerfile
Labels: ci, cilium

#3892 chore: dependency update for v1.5
  cns/windows.Dockerfile
Labels: cns, dependencies, release/1.5

#3884 chore: Clean up release/v1.4 references in master due to EOL
  .github/dependabot.yaml
  .pipelines/mdnc/azure-cns-cni-1.4.39.1.yaml
  .pipelines/mdnc/azure-cns-cni-1.5.28.yaml
  .pipelines/mdnc/azure-cns-cni-1.5.4.yaml
  .pipelines/mdnc/azure-cns-cni.yaml
  cns/azure-cns-windows.yaml
  cns/azure-cns.yaml
  npm/azure-npm.yaml
  npm/deploy/kustomize/overlays/controller/deployment.yaml
  npm/deploy/kustomize/overlays/daemon/deployment.yaml
  npm/deploy/manifests/controller/azure-npm.yaml
  npm/deploy/manifests/daemon/azure-npm.yaml
  npm/deploy/npm/azure-npm.yaml
  npm/examples/azure-npm-lite.yaml
  test/kubemark/aks-e/azure-npm-with-kubemark.yaml
Labels: ci

#3888 chore: Remove NPM Windows 2022 Tests from the NPM Conformance Tests
  .pipelines/npm/npm-conformance-tests.yaml
Labels: npm, windows

#3891 chore: dependency update for v1.6
  .pipelines/build/dockerfiles/cns.Dockerfile
  cni/Dockerfile
  cns/Dockerfile
  go.mod
  go.sum
Labels: cns, dependencies, release/1.6

#3822 feat: Remove symbols from all binaries
  .pipelines/build/scripts/azure-ip-masq-merger.sh
  .pipelines/build/scripts/azure-ipam.sh
  .pipelines/build/scripts/cni.sh
  .pipelines/build/scripts/cns.sh
  .pipelines/build/scripts/dropgz.sh
  .pipelines/build/scripts/ipv6-hp-bpf.sh
  .pipelines/build/scripts/npm.sh
  Makefile
  azure-ip-masq-merger/Dockerfile
  azure-ipam/Dockerfile
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
  cni/Dockerfile
  cni/Dockerfile.tmpl
  cns/Dockerfile
  cns/Dockerfile.tmpl
  npm/linux.Dockerfile
  npm/windows.Dockerfile
Labels: cns, npm, cni, azure-ipam

#3898 ci: remove stage level pool field, isCustom, from e2e job templates
  .pipelines/singletenancy/aks-swift/e2e.stages.yaml
  .pipelines/singletenancy/aks/e2e.stages.yaml
  .pipelines/singletenancy/azure-cni-overlay-stateless/azure-cni-overlay-stateless-e2e.stages.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e.stages.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e.stages.yaml
  .pipelines/singletenancy/cilium-nodesubnet/cilium-nodesubnet-e2e.stages.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e.stages.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e.stages.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e.stages.yaml
Labels: ci, release/latest, needs-backport, release/1.6

#3887 chore: Clean Up NPM release/v1.4 in Master Due to EOL
  npm/azure-npm.yaml
  npm/deploy/kustomize/overlays/controller/deployment.yaml
  npm/deploy/kustomize/overlays/daemon/deployment.yaml
  npm/deploy/manifests/controller/azure-npm.yaml
  npm/deploy/manifests/daemon/azure-npm.yaml
  npm/deploy/npm/azure-npm.yaml
  npm/examples/azure-npm-lite.yaml
  npm/examples/windows/azure-npm-capz.yaml
  npm/examples/windows/azure-npm-lite-win.yaml
  npm/examples/windows/azure-npm.yaml
Labels: npm, linux

#3897 backport: feat: cns logger v2 [2/2] (#3438)
  aitelemetry/telemetrywrapper.go
  aitelemetry/telemetrywrapper_linux.go
  aitelemetry/telemetrywrapper_windows.go
  cns/configuration/configuration.go
  cns/logger/cnslogger.go
  cns/logger/log.go
  cns/logger/v2/config.go
  cns/logger/v2/cores/ai.go
  cns/logger/v2/cores/etw_windows.go
  cns/logger/v2/cores/file.go
  cns/logger/v2/cores/stdout.go
  cns/logger/v2/fields.go
  cns/logger/v2/logger.go
  cns/logger/v2/logger_linux.go
  cns/logger/v2/logger_windows.go
  cns/logger/v2/shim.go
  cns/service/main.go
Labels: cns, release/1.6

#3917 [NPM] [Backport] Remove NPM Windows 2022 Tests from the NPM Conformance Tests + Clean Up NPM release/v1.4
  .pipelines/npm/npm-conformance-tests.yaml
  npm/azure-npm.yaml
  npm/deploy/kustomize/overlays/controller/deployment.yaml
  npm/deploy/kustomize/overlays/daemon/deployment.yaml
  npm/deploy/manifests/controller/azure-npm.yaml
  npm/deploy/manifests/daemon/azure-npm.yaml
  npm/deploy/npm/azure-npm.yaml
  npm/examples/azure-npm-lite.yaml
  npm/examples/windows/azure-npm-capz.yaml
  npm/examples/windows/azure-npm-lite-win.yaml
  npm/examples/windows/azure-npm.yaml
Labels: npm, linux, windows

#3922 [NPM] [Vulnerability] Resolve CVE-2025-40909 in perl-base Library
  npm/linux.Dockerfile
Labels: npm, linux

#3928 revert: Revert Manual NPM Linux Dockerfile Package Installations (libsystemd0, libudev1, libpam-modules, libpam-modules-bin, libpam-runtime, libpam0g)
  npm/linux.Dockerfile
Labels: npm, linux

#3929 revert: Revert Manual NPM Linux Dockerfile perl-base Package Installation
  npm/linux.Dockerfile
Labels: npm, linux

#3945 feat: include iptables block binary in iptables monitor image
  Makefile
  azure-iptables-monitor/Dockerfile
  bpf-prog/azure-block-iptables/cmd/azure-block-iptables/main.go
  bpf-prog/azure-block-iptables/cmd/azure-block-iptables/main_test.go
  bpf-prog/azure-block-iptables/pkg/bpfprogram/interface.go
  bpf-prog/azure-block-iptables/pkg/bpfprogram/program.go
  cni/Dockerfile
  cns/Dockerfile
Labels: go, cilium

#3958 feat: remove jump to swift-postrouting in iptables legacy as rules already exist in iptables nftables
  cns/fakes/iptablesfake.go
  cns/restserver/internalapi_linux.go
  cns/restserver/internalapi_linux_test.go
  cns/restserver/internalapi_windows.go
  cns/restserver/restserver.go
Labels: cns
